<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../../stylesheet.css" />
    <title>Edit catalog</title>
</head>
<body>
{% include 'login2.twig' %}
<h1>Change catalog details</h1>
<div class = "form">
<form method="post">
    <input type="hidden" name="MAX_FILE_SIZE" value="5365536" />
    <table>
        <tr>
            <td>
                <label>Catalog name: </label>
            </td>
            <td>
                <input type="text" name="catalogName" required maxlength=45 value="{{ catalog.getCatalogName() }}">
            </td>
        <tr>
            <td colspan="2">
                <input type="checkbox" name="access" value="0" {% if catalog.getAccess == 0 %} checked {% endif %}>
                Only accessible for registered users
            </td>
        </tr>
        <tr>
            <td>
                <label>Catalog:</label>
            </td>
            <td>
                <select name="catalogId">
                    <option value="1"> Main </option>
                    {% if catalogsList %}
                        {% for catalogdata in catalogsList %}
                            <option value="{{ catalogdata.catalogId }}" {% if catalogdata.catalogId == catalog.getParentId() %} selected {% endif %}>{{ archive.getCatalogPath(catalogdata.catalogId) }} </option>
                        {% endfor %}
                    {% endif %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="hidden" value="{{ getMac("Edit catalog") }}" name="XSRFPreventionToken">
                <button type="submit" name="edit_catalog" value="Edit">Change</button>
            </td>
        </tr>
    </table>
</form>
</div>
<!-- Lille "onclick" koden er tatt fra https://stackoverflow.com/questions/8814472/how-to-make-an-html-back-link-->
<p id="back"><a href = "javascript:history.back()"><img src="{{rel}}Images/BackBtn.svg" alt="Back" width="100"></a></p>
</body>
</html>