<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{{rel}}stylesheet.css" />
    <title>Email verification</title>
</head>
<body>
<a href="{{ rel }}"><img src="{{rel}}Images/SiteTitle.svg" alt="Project7Drive" height="80"></a>
<div class="flash-notice">
    {% if session.getFlashBag.has('header') %}
        {% for header in session.getFlashBag.get('header', []) %}
            <h3>{{ header }}</h3>
        {% endfor %}
    {% endif %}
</div>
<!--{% if verified %}
    <h1>Congratulations!</h1>
    <p>Your account has been activated successfully</p>
    <p><a href="{{rel}}../login/">click here and login</a></p>
{% else %}
    <h1>oops...</h1>
    <p>Account activation failed, please try again.</p>
{% endif %} -->

{% if user %}
<h2>Your email adress is not verified. </h2>
<div class = "form">
    <br>Check your inbox or send verification email again.
    <form method="post">
        <table>
            <tr>
                <td>
                    Send verification email again:
                    <br><input type="hidden" value="{{ getMac("send-email") }}" name="XSRFPreventionToken">
                    <button type="submit" name="send-email" value="send-email">Send email</button>
                </td>
            </tr>
        </table>
    </form>

<form method="post">
    <table>
        <tr>
            <td>
                <br>You can change your email adress
                <br>You have to verify your email again, email will be sent
            </td>
        </tr>
        <tr>
            <td>
                <label>Email: </label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="email" name="email" placeholder="email" value="{{ user.getEmail() }}" maxlength=45 required id="change-email-input">
            </td>
        </tr>
        <tr>
            <td>
                <input type="hidden" value="{{ getMac("change-email") }}" name="XSRFPreventionToken">
                <button type="submit" name="change-email" value="change-email" id="change-email">Change email</button>
            </td>
        </tr>
    </table>
</form>
    <form action="index.php" method="post">
        <input type="hidden" value="{{ getMac("Logout") }}" name="XSRFPreventionToken">
        <input type="submit" name="logout" value="Logout">
    </form>
</div>
{% endif %}
<p id="back"><a href = "../"><img src="{{rel}}Images/BackBtn.svg" alt="Back" width="100"></a></p>
</body>
</html>
