{% extends "layout.twig" %}
{% block content %}
    <section class="admin_dashboard" id="admin_dashboard">

        {# Totale lønnsutgifter i dag #}
        <div class="container container_medium cursor" onclick="location.href='reports.php';" >
            <img src="images/icon_databse.png" width="40px" alt="Icon"/>
            <h6>Totale lønnsutgifter i dag</h6>
            <div class="text">

            </div>
        </div>

        {# Totale lønnsutgifter denne måned #}
        <div class="container container_medium cursor" onclick="location.href='reports.php';" >
            <img src="images/icon_databse.png" width="40px" alt="Icon"/>
            <h6>Totale lønnsutgifter denne måned</h6>
            <div class="text">

            </div>
        </div>

        {# Totale timeregistreringer i dag #}
        <div class="container container_medium cursor" onclick="location.href='timeregistration.php';">
            <img src="images/icon_clock.png" width="40px" alt="Icon"/>
            <h6>Totale timeregistreringer i dag</h6>
            <div class="text_bigtime">
                {{ count.count }}
            </div>
        </div>

        {# Feilmeldinger #}
        <div class="container container_medium_long scroll cursor" onclick="location.href='reports.php';">
            <img src="images/icon_feilmeldinger.png" width="40px" alt="Icon"/>
            <h6>Feilmeldinger i dag</h6>
            {% if session.getFlashBag.has('header') %}
                {% for header in session.getFlashBag.get('header', []) %}
                    <h6>{{ header }}</h6>
                {% endfor %}
                {% for message in session.getFlashBag.get('message', []) %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>

        {# Registrer fravær / Rediger timeføringer #}
        <div class="container container_medium cursor" onclick="location.href='userprofiles.php';">
            <img src="images/icon_clock.png" width="40px" alt="Icon"/>
            <h6>Registrer fravær / Rediger timeføringer </h6>
            <h6></h6>
        </div>

        {# Prosjekter og oppgaver #}
        <div class="container container_medium_long scroll cursor" onclick="location.href='projects.php';">
            <img src="images/icon_task.png" width="40px" alt="Icon"/>
            <h6>Prosjekter og oppgaver</h6>
            <div class="text">
                Se prosjekter og oppgaver
            </div>
        </div>

        {# Nye brukere til godkjenning #}
        <div class="container container_medium cursor" onclick="location.href='userprofiles.php?verify=1';">
            <img src="images/icon_verify_user.png" width="40px" alt="Icon"/>
            <h6>Nye brukere til godkjenning</h6>
            <div class="text">
                Brukere som skal godkjennes kommer her
            </div>
        </div>

    </section>

    <section>
        {# Siste kommentarer fra brukere og ledere #}
        <div class="container container_big text scroll">
            <img src="images/icon_kommentar.png" width="40px" alt="Icon"/>
            Siste kommentarer fra brukere <br><br>
            {% for hour in hours %}
                {% if hour.comment is not empty %}
                    <table>
                        <tr>
                            <td class="widthFixed"><b>{{ hour.whoWorkedName }} :</b></td>
                            <td>{{ hour.startTime }}</td>
                        </tr>
                        <tr>
                            <td id="commentar"> {{ hour.comment }}</td>
                        </tr>
                    </table>
                {% endif %}
            {% endfor %}
        </div>
        <div class="container container_big text scroll">
            <img src="images/icon_kommentar.png" width="40px" alt="Icon"/>
            Siste kommentarer fra ledere <br><br>
            {% for hour in hours %}
                {% if hour.commentBoss is not empty %}
                    <table>
                        <tr>
                            <td class="widthFixed"><b>{{ hour.whoWorkedName }} :</b></td>
                            <td>{{ hour.startTime }}</td>
                        </tr>
                        <tr>
                            <td id="commentar"> {{ hour.commentBoss }}</td>
                        </tr>
                    </table>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
    {# REFERENCES #}
    {# Adobe XD icons #}
    {# icon_task.png: https://icon-icons.com/icon/task/120291     #}