{% extends "layout.twig" %}
{% block content %}
    <section class="admin_dashboard" id="admin_dashboard">

        {# Totale timeregistreringer i dag #}
        <div class="container container_medium_admin cursor snow" onclick="location.href='timeregistration.php';">
            <h6>Totale timeregistreringer i dag</h6>
            <div class="text_bigtime">
                {{ sumTimeToday }}
            </div>
        </div>

        {# Totale lønnsutgifter i dag #}
        <div class="container container_medium_admin cursor snow" onclick="location.href='reports.php';" >
            <h6>Totale lønnsutgifter i dag</h6>
            <div class="text_bigtime">
                kr {{ sumPaymentToday }}
            </div>
        </div>

        {# Totale timer denne måned #}
        <div class="container container_medium_admin cursor snow" onclick="location.href='timeregistration.php';">
            <h6>Totale timer denne måned</h6>
            <div class="text_bigtime">
                {{ sumTimeMonth }}
            </div>
        </div>

        {# Totale lønnsutgifter denne måned #}
        <div class="container container_medium_admin cursor snow" onclick="location.href='reports.php';" >
            <h6>Totale lønnsutgifter denne måned</h6>
            <div class="text_bigtime">
                kr {{ sumPaymentMonth }}
            </div>
        </div>
    </section>
    <section>
        {# Feilmeldinger #}
        <div class="container container_medium_admin snow scrollY" onclick="">
            <h6>Meldinger: </h6>
            {% if session.getFlashBag.has('header') %}
                {% for header in session.getFlashBag.get('header', []) %}
                    <p>H: {{ header }}</p>
                {% endfor %}
                {% for message in session.getFlashBag.get('message', []) %}
                    <p>M: {{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>

        {# Registrer fravær / Rediger timeføringer #}
        <div class="container container_medium_admin cursor snow" onclick="location.href='userprofiles.php';">
            <h6>Registrer fravær / Rediger timeføringer </h6>
            <h6></h6>
        </div>

        {# Prosjekter og oppgaver #}
        <div class="container container_medium_admin cursor snow" onclick="location.href='projects.php';">
            <h6>Prosjekter og oppgaver</h6>
            <div class="text">
                Se prosjekter og oppgaver
            </div>
        </div>

        {# Nye brukere til godkjenning #}
        <div class="container container_medium_admin cursor snow" onclick="location.href='userprofiles.php?verify=1';">
            <h6>Nye brukere til godkjenning</h6>
            <div class="text">
                Se brukere til godkjenning
            </div>
        </div>

    </section>

    <section>
        {# Siste kommentarer fra brukere og ledere #}
        <div class="container container_big text scroll">
            <img src="images/icon_kommentar.png" width="40px" alt="Icon"/>
            Siste kommentarer fra brukere <br><br>
            {% for hour in hours %}
                {% if hour.comment is not empty %}
                    <table>
                        <tr>
                            <td class="widthFixed"><b id="name">{{ hour.whoWorkedName }} :</b></td>
                            <td>{{ hour.startTime }}</td>
                        </tr>
                        <tr>
                            <td id="commentar"> {{ hour.comment }}</td>
                        </tr>
                    </table>
                {% endif %}
            {% endfor %}
        </div>
        <div class="container container_big text scroll">
            <img src="images/icon_kommentar.png" width="40px" alt="Icon"/>
            Siste kommentarer fra ledere <br><br>
            {% for hour in hours %}
                {% if hour.commentBoss is not empty %}
                    <table>
                        <tr>
                            <td class="widthFixed"><b id="name">{{ hour.whoWorkedName }} :</b></td>
                            <td>{{ hour.startTime }}</td>
                        </tr>
                        <tr>
                            <td id="commentar"> {{ hour.commentBoss }}</td>
                        </tr>
                    </table>
                {% endif %}
            {% endfor %}
        </div>
        {# Dette er en prøve versjon på hvordan en fremdtidlig kalender kan integres i systemt vårt. Test bruker: nicholai #}
        {% if user.getUserId == 6 %}
        <div>
            <iframe src = "https://outlook.live.com/owa/calendar/2680ae65-ae82-411a-baf8-5d5b80a0283e/f325ec95-56cf-4e7e-886d-e6f5f0cd9fa3/cid-870B49AEE0A72671/index.html" scrolling="no"
            width="1270px"  height="700" frameborder="()"></iframe>
        </div>
            <br><input type="submit" name="epost_link" value="Til epost" onclick="window.location.href='https://outlook.live.com/'">
        {% endif %}
    </section>
{% endblock %}
    {# REFERENCES #}
    {# Adobe XD icons #}
    {# icon_task.png: https://icon-icons.com/icon/task/120291     #}