<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../stylesheet.css" />
    <title>Catalog details</title>
</head>
<body>
{% include 'login2.twig' %}
<div class="flash-notice">
    {% for header in session.getFlashBag.get('header', []) %}
        <h3>{{ header }}</h3>
    {% endfor %}
    {% for message in session.getFlashBag.get('message', []) %}
        <p>{{ message }}</p>
    {% endfor %}
</div>
<h1>Catalog details</h1>
{% if catalog %}
    <div class = "show-data">
        <table>
            <tr>
                <td>
                    Catalog name:
                </td>
                <td>
                    {{ catalog.getCatalogName() }}
                </td>
            </tr>
            <tr>
                <td>
                    Catalog owner:
                </td>
                <td>
                   <a href="../profile-page/?username={{ file.getOwner() }}">{{ file.getOwner() }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    Upload date:
                </td>
                <td>
                    {{ catalog.getDate() }}
                </td>
            </tr>
            <tr>
                <td>
                    In which catalog is this in:
                </td>
                <td>
                    {{ archive.getCatalogPath(catalog.getParentId()) }}
                </td>
            </tr>
        </table>
    </div>

{% endif %}
{% if isOwner %}
    <p><a href="catalog-edit/?id={{catalog.getCatalogId}}" class="button-white" >Edit catalog</a></p>
{% endif %}
{% if user.isAdmin() or isOwner %}
    <form method="post" onsubmit="return confirm('Are you sure to delete the catalog?');">
        <input type="hidden" value="{{ getMac("Delete") }}" name="XSRFPreventionToken">
        <input type="submit" name="Delete_catalog" value="Delete catalog" class="delete" />
    </form>
{% endif %}
<p id="back"><a href = "javascript:history.back()"><img src="{{rel}}Images/BackBtn.svg" alt="Back" width="100"></a></p>
</body>
</html>