<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../../stylesheet.css" />
    <title>Edit user</title>
</head>
<body>
{% include 'login2.twig' %}
<h1>Change user details</h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../ChangeUser.js"></script>
<script>
    //Delsiv modifisert fra https://stackoverflow.com/questions/21727317/how-to-check-confirm-password-field-in-form-without-reloading-page
    var check = function() {
        var pass1 = document.getElementById("password").value;
        var pass2 = document.getElementById("password2").value;
        if (pass1 != "" && pass2 != "") {
            if (pass1 === pass2) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
                return true;
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
                return false;
            }
        }
        else document.getElementById('message').innerHTML = '';
        return false;
    }

    function validate(){
        return check();
    }


</script>
{% if isUser %}
    <div class = "form edit-user-form">
<form method="post" id="edit-user">
    <table>
        <tr>
            <th>Change user details;
            </th>
        </tr>
        <tr>
            <td>
                <label>User name:</label>
                <div>
                <br><input type="text" name="username" required maxlength=45 value="{{ user.getUsername() }}" id="username">
                <span></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>First name:</label>
                <br><input type="text" name="firstname" required maxlength=45 value="{{ user.getFirstName() }}">
            </td>
        </tr>
        <tr>
            <td>
                <label>Last name:</label>
                <br><input type="text" name="lastname" required maxlength=45 value="{{ user.getLastName() }}">
            </td>
        </tr>
        <tr>
            <td>
                <input type="hidden" value="{{ getMac("Edit user information") }}" name="XSRFPreventionToken">
                <input type="submit" name="edit_user" value="Edit" />
            </td>
        </tr>
    </table>
</form>
    </div>
<div class = "form edit-user-form">
    <form method="post" id="change-email" action="../../register/verify.php">
    <label>Change email: </label>
        <div>
    <br><input type="email" name="email" required maxlength=45 value="{{ user.getEmail() }}" id="change-email-input">
        <span></span>
        </div>
    <input type="hidden" value="{{ getMac("change-email") }}" name="XSRFPreventionToken">
    <br><button type="submit" name="change-email" value="change-email">Change</button>
        <br>PS! When you submit you need to verify
        <br>your email again (even if your email not changed).
</form>
</div>
{% endif %}
{% if isUser or user.isAdmin() %}
<div class = "form edit-user-form">
    <form method="post" onsubmit="return validate();">
        <label>Change password: </label>
        <br><input type="password" name="password" id="password" required placeholder="Password" maxlength=60 value="" onkeyup='check();'>
        <br><label>Confirm password:</label>
        <br><input type="password" name="password2" id="password2" required placeholder="Confirm Password" maxlength=60 value="" onkeyup='check();'/>
    <span id='message'></span>
    <input type="hidden" value="{{ getMac("change password") }}" name="XSRFPreventionToken">
        <br><input type="submit" id="change_password" name="change_password" value="Change" />
    </form>
</div>

<div class = "form edit-user-form">
    <form method="post" onsubmit="return confirm('Are you sure to delete the user? (Can\'t be reversed');">
    <input type="hidden" value="{{ getMac("Delete") }}" name="XSRFPreventionToken">
    <br><input type="submit" name="Delete_user" value="Delete user" class="delete" />
</form>
</div>
    {% endif %}
<p id="back"><a href = "javascript:history.back()"><img src="{{rel}}Images/BackBtn.svg" alt="Back" width="100"></a></p>
</body>
</html>
