{% extends "layout.twig" %}
{% block content %}
    <section class="employee_dashboard" id="employee_dashboard">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        {# KNAPP - REGISTRER INN #}
        <div id="text">
            <form method="post" id="register_time_form">
                <table>
                    <tr>
                        <th colspan="2"><label>Oppgavekategori: </label></th>
                    </tr>
                    {% for categories in categoryName %}
                        <tr>
                            <td><input type="radio" id="task" name="status" value="1" required></td>
                            <td><label for="task">{{ categories.getCategoryName }} </label></td>
                        </tr>
                    {% endfor %}
                </table>
                <input type="submit" name="register_time" id="reg_btn" value="Start timeregistrering">
            </form>
        </div>
        {# KNAPP - REGISTRER PAUSE #}
        <div class="container container_pause">
            <button id="button" class="button" onclick="">
                <img src="images/icon_time.png" width="40pt"> Pause
            </button>
        </div>

        {# KNAPP - REGISTRER UT #}
        <div class="container container_registrer_ut">
            <button id="button" class="button" onclick="">
                <img src="images/icon_time.png" width="40pt"> Registrer ut
            </button>
        </div>
    </section>
    <section>

        {# Mine siste fem timeregistreringer #}
        <div class="openContainerNoBorder text" id="timeTabell">
            <h5>Mine timeregistreringer fra gjeldende m책ned</h5>
            <table class="table" id="table">
                <tr>
                    <th>Task Navn</th>
                    <th>Hoved Task</th>
                    <th>Prosjektnavn</th>
                    <th>Starttid</th>
                    <th>Slutttid</th>
                    <th>Lokasjon</th>
                    <th>Endre</th>
                </tr>
                {# hours verdien her kommer fra getAllHoursForUser($userID); s책 kun denne brukerens kommentarer #}
                {% for hours in hours %}
                    <tr>
                        {% for task in tasks %}
                            {% if task.getTaskID() == hours.taskID %}
                                <td> {{ task.getTaskName }}</td>
                                <td> {{ task.getParentTask }}</td>
                                <td> {{ task.getProjectName }}</td>
                            {% endif %}
                        {% endfor %}
                        <td> {{ hours.startTime }}</td>
                        <td> {{ hours.endTime }}</td>
                        <td> {{ hours.getLocation }}</td>
                        <td>
                            <button class="buttons miniButtons" id="miniButtons"
                                    onclick="location.href='timeregistrationEdit.php?hourID={{ hours.getHourID }}';">
                                <img src="" alt=""> Rediger
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" rowspan="2" id="comment_btn" class="comment_btn"><i><b>Kommentar: </b></i>
                            {{ hours.Comment }} <i><b>Endre</b></i></td>
                    </tr>
                    <tr>
                        <td colspan="4" rowspan="1" id="comment_form_show1" class="comment_form_show1">
                            {# Vis hele kommentaren #}
                            {{ hours.Comment }}
                        </td>

                        <td colspan="4" id="comment_form_show" class="comment_form_show">
                            {# Endre kommentar #}
                            <div class="container container_addComment text" id="add_comment">
                                <form method="post" id="edit_comment_hour">
                                    <input id="hourID" type="hidden" name="hourID" value="{{ hourID }}" maxlength=45
                                           required/>
                                    <label for="comment">Endre kommentar: </label>
                                    <textarea id="comment" cols="2" rows="4" name="comment"
                                              required>{{ Hour.getComment }}</textarea>
                                    <input type="hidden" value="{{ getMac("Edit Comment") }}"
                                           name="XSRFPreventionToken">
                                    <br><input type="submit" name="edit_comment_hour" id="edit_comment_hour"
                                               value="Endre kommentar">
                                </form>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="7" id="comment_btn_back" class="comment_btn_back">G책 tilbake:</td>
                    </tr>
                {% endfor %}
            </table>
            {# SCRIPT For 책 vise og fjerne kommentarfelt etter id til td (tabel data) #}
            <script>
                $(document).ready(function () {
                    $('.comment_form_show').hide();
                    $('.comment_form_show1').hide();
                    $('.comment_btn_back').hide();
                    $('.comment_btn').show();

                    $('.comment_btn').click(
                        function () {
                            $('.comment_form_show').fadeIn(2000);
                            $('.comment_form_show1').fadeIn(2000);
                            $('.comment_btn').hide();
                            $('.comment_btn_back').fadeIn(2000);
                        });
                    $('.comment_btn_back').click(
                        function () {
                            $('.comment_form_show').hide();
                            $('.comment_form_show1').hide();
                            $('.comment_btn_back').hide();
                            $('.comment_btn').fadeIn(2000);
                        });
                });
            </script>
        </div>
    </section>
    <section>
        {# Feilmeldinger #}
        <div class="container container_big_long text">
            <h2>Tilbakemeldinger fra database</h2>
            {% if session.getFlashBag.has('header') %}
                {% for header in session.getFlashBag.get('header', []) %}
                    <h3>{{ header }}</h3>
                {% endfor %}
                {% for message in session.getFlashBag.get('message', []) %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}