{% extends "layout.twig" %}
{% block content %}
    <section class="employee_dashboard" id="employee_dashboard">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        {# KNAPP - REGISTRER INN #}
        <div id="text">
            <form method="post" id="register_time_form">
                <label for="Kategori"></label>
                    <select name="Kategori">
                        <option value="Administrativt">Administrativt</option>
                        <option value="Kurs">Kurs</option>
                        <option value="Møte">Møte</option>
                        <option value="Prosjekt">Prosjekt</option>
                        <option value="Rapportering">Rapportering</option>
                        <option value="Selvstudie">Selvstudie</option>
                    </select>

                <input type="submit" name="register_time" id="reg_btn" value="Start timeregistrering">
            </form>
        </div>
{#        {% for timer in timeregCheck %}#}
{#            {{ timer.hourID }}#}
{#            {{ timer.stampingStatus }}#}
{#        {% endfor %}#}

{#        viser hourID og stampingStatus tilhørende. Må få lagt inn sjekk hvis aktiv timeregistrering (stampingStatus = 0)
            , vis stopp knapp og kan ikke starte ny før stampingStatus er satt til 1 #}


        {% if timeregCheck.stampingStatus == 0  %}



        {# KNAPP - REGISTRER UT #}
        <div class="container container_registrer_ut">
            <button id="button" class="button" onclick="">
                <img src="images/icon_time.png" width="40pt"> Registrer ut
            </button>
        </div>

        {% endif %}
    </section>
    <section>

        {# Mine siste fem timeregistreringer #}
        <div class="openContainerNoBorder text" id="timeTabell">
            <h5>Mine timeregistreringer fra gjeldende måned</h5>
            <table class="table" id="table">
                <tr>
                    <th>Task Navn</th>
                    <th>Hoved Task</th>
                    <th>Prosjektnavn</th>
                    <th>Starttid</th>
                    <th>Slutttid</th>
                    <th>Lokasjon</th>
                    <th>Kommentar</th>
                    {% if user.isAdmin %}
                        <th>Endre</th>
                    {% endif %}
                </tr>
                {# hours verdien her kommer fra getAllHoursForUser($userID); så kun denne brukerens kommentarer #}
                {% for hours in hours %}
                    <tr>
                        {% for task in tasks %}
                            {% if task.getTaskID() == hours.taskID %}
                                <td> {{ task.getTaskName }}</td>
                                <td> {{ task.getParentTask }}</td>
                                <td> {{ task.getProjectName }}</td>
                            {% endif %}
                        {% endfor %}
                        <td> {{ hours.startTime }}</td>
                        <td> {{ hours.endTime }}</td>
                        <td> {{ hours.getLocation }}</td>
                        <td> {{ hours.getComment }}</td>
                        <td>
                            <button class="buttons miniButtons" id="miniButtons"
                                    onclick="location.href='timeregistrationEdit.php?hourID={{ hours.getHourID }}';">
                                <img src="" alt=""> Rediger
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    <section>
        {# Feilmeldinger #}
        <div class="container container_big_long text">
            <h2>Tilbakemeldinger fra database</h2>
            {% if session.getFlashBag.has('header') %}
                {% for header in session.getFlashBag.get('header', []) %}
                    <h3>{{ header }}</h3>
                {% endfor %}
                {% for message in session.getFlashBag.get('message', []) %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}