<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../stylesheet.css" />
    <title>File details</title>
</head>
<body>
{% include 'login2.twig' %}
<h1>
    File details
</h1>
    <div class="flash-notice">
        {% for header in session.getFlashBag.get('header', []) %}
            <h3>{{ header }}</h3>
        {% endfor %}
        {% for message in session.getFlashBag.get('message', []) %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% if file %}
    <pre>
        </pre>
    <div class = "show-data">
        <table>
            <tr>
                <td colspan="2">
                    {% if file.getType() == 'image/jpeg' or  file.getType() == 'image/pjpeg' or file.getType() == 'image/png' or file.getType() == 'image/gif'%}
                        <a href="../?id={{file.getFileId}}"><img src="../thumbnail.php?id={{file.getFileId}}" alt="{{file.getTitle}}" /></a>
                    {% elseif file.getType() == 'application/msword' or file.getType() == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' %}
                        <a href="{{rel}}?id={{file.getFileId}}"><img src="../Images/iconfinder_word_272702.png" alt="icon_word" /></a>
                    {% elseif file.getType() == 'application/mspowerpoint' %}
                        <a href="{{rel}}?id={{file.getFileId}}"><img src="../Images/iconfinder_powerpoint_272700.png" alt="icon_powerpoint" /></a>
                    {% elseif file.getType() == 'application/vnd.ms-excel' or file.getType() == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' %}
                        <a href="{{rel}}?id={{file.getFileId}}"><img src="../Images/iconfinder_excel_272697.png" alt="icon_excel" /></a>
                    {% elseif file.getType() == 'application/pdf' %}
                        <a href="{{rel}}?id={{file.getFileId}}"><img src="../Images/iconfinder_pdf_272699.png" alt="icon_pdf" /></a>
                    {% elseif file.getType() == 'text/plain' %}
                        <a href="{{rel}}?id={{file.getFileId}}"><img src="../Images/iconfinder_text_272701.png" alt="icon_text" /></a>
                    {% elseif file.getType() == 'video/mp4' or file.getType() == 'video/webm' or file.getType() == 'video/ogg' %}
                        <a href="{{rel}}?id={{file.getFileId}}"><img src="../Images/iconfinder_video-alt_383195.png" alt="icon_video" /></a>
                    {% else %}
                        <a href="{{rel}}?id={{file.getFileId}}"><img src="../Images/iconfinder_File_104851.png" alt="icon_file" /></a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    Title:
                </td>
                <td>
                    {{ file.getTitle() }}
                </td>
            </tr>
            <tr>
                <td>
                    Type:
                </td>
                <td>
                    {{ file.getType() }}
                </td>
            </tr>
            <tr>
                <td>
                    Author:
                </td>
                <td>
                    <a href="../profile-page/?username={{ file.getOwner() }}">{{ file.getOwner() }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    Size:
                </td>
                <td>
                    {{ file.getSize() / 1000 }} kilo bytes
                </td>
            </tr>
            <tr>
                <td>
                    Upload date:
                </td>
                <td>
                    {{ file.getUploadedDate() }}
                </td>
            </tr>
            <tr>
                <td>
                    Catalog path:
                </td>
                <td>
                    {{ file.getCatalogName() }}
                </td>
            </tr>
            <tr>
                <td>
                    Views or downloads:
                </td>
                <td>
                    {{ file.getImpressions() }}
                </td>
            </tr>
            <tr>
                <td>
                    Description:
                </td>
                <td>
                    {{ file.getDescription() }}
                </td>
            </tr>
            <tr>
                <td>
                    Tags:
                </td>
                <td>
                    <p id="tags"></p>
                    <script>
                        <!-- koden er tatt fra http://jsfiddle.net/UH5U9/3/ found in StackOverflow
                            https://stackoverflow.com/questions/10022781/generate-search-links-for-comma-separated-words -->
                                var tags = "{{ file.getTags() }}";
                        tags = tags.split(', ');
                        var temp = '';
                        for (var i = 0; i < tags.length; i++) {
                            temp = temp + '<a class="tag button-white" href="../?tag=' + tags[i] + '">' + tags[i] + '</a>' + '&nbsp; &nbsp;';
                        }
                        document.getElementById("tags").innerHTML = temp;
                    </script>
                </td>
            </tr>
        </table>
    </div>
        {% if isOwner %}
            <p><a href="file-edit/?id={{file.getFileId}}" class="button-white">Edit file</a></p>
            {% endif %}
        {% if user.isAdmin() or isOwner %}
            <form method="post" onsubmit="return confirm('Are you sure to delete the file?');">
                <input type="hidden" value="{{ getMac("Delete file") }}" name="XSRFPreventionToken">
            <input type="submit" name="Delete_file" value="Delete file" class="delete" />
            </form>
            {% endif %}
        <div class = comment>
        <h3>Comments:</h3>
        {% if comments %}
        {% for comment in comments %}
            <table style="border-collapse: collapse">
            <tr>
                <td>
                    <div class="comment-text">
                            <a href="{{rel}}profile-page/?username={{ comment.username }}">{{ comment['username'] }}</a>
                            {{ comment['comment'] }}
                            <br><span class="comment-date">{{ comment['date'] }}</span></div>
                    {% if comment['username'] == user.getUsername() or user.isAdmin() == 1 %}
                        <br><form method="post" id="delete_comment">
                            <input type="hidden" value="{{ getMac("Delete comment") }}" name="XSRFPreventionToken">
                            <input type="hidden" value="{{comment['commentId']}}" name="commentid" />
                            <input type="submit" name="Delete_comment" value="Delete comment" class="delete comment" />
                        </form>
                {% endif %}
                </td>
            </tr>
            </table>
        {% endfor %}
            {% else %}
            No comments
            {% endif %}
            </div>

        {% if user %}
            <div class = "form">
            <form  method="post">
                <table id="comment-form">
                    <tr>
                        <td>
                            <label>Add comment: </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea name="commenttext" rows="3" cols="25" maxlength=255 placeholder="Max 255 characters"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" value="{{ getMac("Post comment") }}" name="XSRFPreventionToken">
                            <input type="submit" name="comment" value="Comment" class="button-white comment" />
                        </td>
                    </tr>
                </table>
            </form>
            </div>
            {% endif %}
{% endif %}
<p id="back"><a href = "javascript:history.back()"><img src="{{rel}}Images/BackBtn.svg" alt="Back" width="100"></a></p>

</body>
</html>