<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../../stylesheet.css" />
    <link rel="stylesheet" href="../../js/examples/assets/app.css">
    <link rel="stylesheet" href="../../js/dist/bootstrap-tagsinput.css">

    <title>Edit file</title>
</head>
<body>
{% include 'login2.twig' %}
<h1>Change file details</h1>
<div class = "form">
<form method="post" id ="edit-file">
    <table>
        <tr>
            <td>
                <label>Title: </label>
                <br><input type="text" name="title" required maxlength=45 value="{{ file.getTitle() }}">
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" name="access" value="0" {% if file.getAccess == 0 %} checked {% endif %}>
                Only accessible for registered users
            </td>
        </tr>
        <tr>
            <td>
                <label>Catalog:</label>
                <br><select name="catalogId">
                    <option value="1"> Main </option>
                    {% if catalogsList %}
                        {% for catalog in catalogsList %}
                            <option value="{{ catalog.catalogId }}" {% if catalog.catalogId == file.getCatalogId() %} selected {% endif %}>{{ archive.getCatalogPath(catalog.catalogId) }} </option>
                        {% endfor %}
                    {% endif %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Description: </label>
                <br><textarea name="description" rows="2" cols="20" maxlength=255>{{ file.getDescription() }}</textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label>Tags: </label>
                <br><input type="text" name="tags" id="tags" data-role="tagsinput" value="{{ file.getTags }}" placeholder="tag1,tag2,tag3">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src="{{ rel }}js/dist/bootstrap-tagsinput.min.js"></script>
                <script src="{{ rel }}typeahead.bundle.js"></script>
                <script>
                    //Koden er kopiert og tilpasset fra https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/examples/
                    // Initializing the typeahead
                    var tags = new Bloodhound({
                        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                        queryTokenizer: Bloodhound.tokenizers.whitespace,
                        prefetch: {
                            url: '../../tags.json?t=' + Math.random(),
                            filter: function(list) {
                                return $.map(list, function(tags) {
                                    return { name: tags }; });
                            }
                        }
                    });
                    tags.clearPrefetchCache();
                    tags.initialize();

                    $('#tags').tagsinput({
                        trimValue: true,
                        typeaheadjs: {
                            name: 'tags',
                            displayKey: 'name',
                            valueKey: 'name',
                            source: tags.ttAdapter()
                        }
                    });
                    //Kode tatt fra https://stackoverflow.com/questions/11235622/jquery-disable-form-submit-on-enter
                    $('#edit-file').on('keypress', function(e) {
                        return e.which !== 13;
                    });
                </script>
            </td>
        </tr>
        <tr>
            <td>
                <input type="hidden" value="{{ getMac("Edit file") }}" name="XSRFPreventionToken">
                <input type="submit" name="edit_file" value="Edit" />
            </td>
        </tr>
    </table>
</form>
</div>
<p id="back"><a href = "javascript:history.back()"><img src="{{rel}}Images/BackBtn.svg" alt="Back" width="100"></a></p>
</body>
</html>