{% extends "layout.twig" %}
{% block content %}

    <section class="edit_group" id="edit_group">
        <div class="openContainerNoBorder text" id="table_register">
            <h3>Gruppe profil</h3>
            <div>
                {% if session.getFlashBag.has('header') %}
                    {% for header in session.getFlashBag.get('header', []) %}
                        <h3>{{ header }}</h3>
                    {% endfor %}
                    {% for message in session.getFlashBag.get('message', []) %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div id="text">
                <br>Gruppenavn: {{ group.getGroupName }}
                <br>Gruppeleder: {{ group.firstName }} {{ group.lastName }} ({{ group.username }}
                <br>Prosjekt: {{ group.getProjectName }}
                {% if group.isAdmin %}
                    <br>Gruppe type: admin gruppe
                {% else %}
                    <br>Gruppe type: vanlig gruppe
                {% endif %}
                <br>
                    <br><b>Medlemmer:</b>
                    {% for empl in members %}
                        <br>{{ empl.getFirstName }} {{ empl.getLastName }} ({{ empl.getUsername }})
                    {% endfor %}

            </div>
            <div id="text">
                <form method="post" id="group_edit_form">
                    <br><label>Gruppenavn: </label>
                    <br><input type="text" name="groupName" value="{{ group.getGroupName }}" placeholder="Gruppenavn" maxlength=45
                               id="groupName"/>
                    <br><label>Velg gruppeleder:</label>
                    <br>
                    <div class="wrapper">
                        <select name="groupLeader" id="" class="form-control" onfocus='this.size=10;'
                                onblur='this.size=10;'
                                onchange='this.size=10; this.blur();'>
                            {% for candidate in candidates %}
                                <option value="{{ candidate.getUserID() }}" {% if candidate.getUserID() == group.getGroupLeader() %} selected {% endif %}>{{ candidate.getLastName }} {{ candidate.getFirstName }} ({{ candidate.getUsername }})
                                </option>
                            {% endfor %}
                        </select></div>
                    {% if user.isAdmin %}
                    <br><label>Admin eller vanlig gruppe: </label>
                    <br><input type="radio" name="isAdmin" value="1" {% if group.isAdmin() %} checked {% endif %}>
                    <label>Admin</label><br>
                    <input type="radio" name="isAdmin" value="0" {% if not group.isAdmin() %} checked {% endif %}>
                    <label>Vanlig</label><br>
                    {% endif %}
                    <input type="hidden" value="{{ getMac("Group edit") }}" name="XSRFPreventionToken">
                    <br><input type="submit" name="group_edit" id="reg_btn" value="Endre gruppe">
                </form>
            </div>
            <div id="text">
                </p>
                <form method="post" id="add_group_members_form">
                    <br><label>Legg til brukere på gruppen: </label>
                    <br>
                    <div class="wrapper">
                        <select name="groupMembers[]" id="" class="form-control" multiple onfocus='this.size=10;'
                                onblur='this.size=10;' onchange='this.size=10; this.blur();'>
                            {% for empl in employees %}
                                <option value="{{ empl.getUserID() }}">{{ empl.getFirstName }} {{ empl.getLastName }}
                                    (ID: {{ empl.getUserId }})
                                </option>
                            {% endfor %}
                        </select></div>
                    <input type="hidden" value="{{ getMac("Group add members") }}" name="XSRFPreventionToken">
                    <br><input type="submit" name="add_members" id="reg_btn" value="Legg til medlemmer">
                </form>
            </div>
            <div id="text">
                </p>
                <form method="post" id="remove_group_members_form">
                    <br><label>Fjerne brukere fra gruppen: </label>
                    <br>
                    <div class="wrapper">
                        <select name="groupMembers[]" id="" class="form-control" multiple onfocus='this.size=10;'
                                onblur='this.size=10;' onchange='this.size=10; this.blur();'>
                            {% for empl in members %}
                                <option value="{{ empl.getUserID() }}">{{ empl.getFirstName }} {{ empl.getLastName }}
                                    (ID: {{ empl.getUserId }})
                                </option>
                            {% endfor %}
                        </select></div>
                    <input type="hidden" value="{{ getMac("Group remove members") }}" name="XSRFPreventionToken">
                    <br><input type="submit" name="remove_members" id="reg_btn" value="Fjern medlemmer">
                </form>
                </p>
            </div>
            <div id="text">
                {% if user.isAdmin() %}
                    <form method="post"
                          onsubmit="return confirm('Er du sikker på å slette gruppen? \n(Kan ikke angres etterpå)');">
                        <input type="hidden" value="{{ getMac("Delete group") }}" name="XSRFPreventionToken">
                        <br><input type="submit" name="group_delete" value="Slett gruppe" class="delete"/>
                    </form>
                {% endif %}
            </div>
            <button class="button miniButtons" onclick="goBack()">Gå tilbake</button>
        </div>
    </section>

{% endblock %}