{% extends "layout.twig" %}
{% block content %}
    <section class="prosjektleder_dashboard" id="prosjektleder_dashboard">

        {# Prosjekter og oppgaver #}
        <div class="container container_medium_long scroll">
            <img src="images/icon_task.png" width="40px" alt="Icon"/>
            <h6>Prosjekter og oppgaver</h6>
            <div class="text">
                Se prosjekter og oppgaver
            </div>
        </div>

        {# Feilmeldinger #}
        <div class="container container_medium_long scroll">
            <img src="images/icon_feilmeldinger.png" width="40px" alt="Icon"/>
            <h6>Feilmeldinger i dag</h6>
            {% if session.getFlashBag.has('header') %}
                {% for header in session.getFlashBag.get('header', []) %}
                    <h6>{{ header }}</h6>
                {% endfor %}
                {% for message in session.getFlashBag.get('message', []) %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>

    </section>

    <section>

        <div class="container container_big text scroll">
            <img src="images/icon_kommentar.png" width="40px" alt="Icon"/>
            Siste kommentarer fra brukere<br><br>
            {% for hoursAll in hoursAll %}{% for users in users %}
                {% if hoursAll.whoWorked == users.userID %}
                    <h6>{{ users.firstname }} {{ users.lastname }}</h6>
                    <ul>{{ hoursAll.comment }}</ul><br>
                {% endif %}
            {% endfor %}{% endfor %}
        </div>

    </section>
{% endblock %}
    {# REFERENCES #}
    {# Adobe XD icons #}
    {# icon_task.png: https://icon-icons.com/icon/task/120291  #}