{% extends "layout.twig" %}
{% block content %}

    <section class="edit_group" id="edit_group">
        {# TILBAKE KNAPP #}
        <div class="container container_small cursor" onclick="goBack()">
            <button id="button" class="button" title="Ny bruker"
                    onclick="goBack()">
                <img src="" width="30em"> Gå tilbake
            </button>
        </div>
    </section>

    <section>
        <h6 class="marginleft overskrift">Gruppe info side</h6><br>
        {# GROUP INFO #}
        <div class="container container_menu text" id="table_register">
            <h3 id="bigColoredName">{{ group.getGroupName }}</h3>
            <h6 id="bigColoredName">{{ group.getProjectName }}</h6>

            <div id="text">
                <br>Gruppenavn: <b>{{ group.getGroupName }}</b><br>
                <br>Gruppeleder: <b>{{ group.leaderName }} </b><br>
                <br>Prosjekt: <b>{{ group.getProjectName }}</b><br>
                {% if group.isAdmin %}
                    <br>Gruppe type: <b>admin gruppe</b><br>
                {% else %}
                    <br>Gruppe type: <b>vanlig gruppe</b><br>
                {% endif %}
            </div>
        </div>

        {# Medlemmer i denne gruppen #}
        <div class="container container_menu text" id="project_members">
            <label class="overskriftLiten"><b>Medlemmer i denne gruppen:</b></label></br>
            <br>
            <!--br><b>Medlemmer:</b><br-->
            <ul>
                {% for empl in members %}
                <li>{{ empl.getFirstName }} {{ empl.getLastName }}
                    {% endfor %}
            </ul>
        </div>


        {# Oppgaver til denne gruppen #}
        <div class="container container_menu_lang text" id="phase_tasks">
            <h5 class="overskriftLiten">Oppgaver som tilhører gruppa:</h5>
            <!--label class="overskriftLiten">Oppgaver som tilhører gruppa: </label-->
            <table class="table">
                <tr>
                    <th>Navn</th>
                    <th>Tidsbruk</th>
                    <th>Estimert tid</th>
                    <th>Status</th>
                    <th>Hoved ansvarlig</th>
                    <th>Se detaljer / endre</th>
                </tr>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.getTaskName() }}</td>
                        <td>{{ task.getTimeSpent() }}</td>
                        <td>{{ task.getEstimatedTime() }}</td>
                        {% if task.getStatus() == 0 %}
                            <td>Ventende</td>
                        {% elseif task.getStatus() == 1 %}
                            <td>På arbeid</td>
                        {% elseif task.getStatus() == 2 %}
                            <td>Pause</td>
                        {% elseif task.getStatus() == 3 %}
                            <td>Ferdig</td>
                        {% endif %}
                        <td>{{ task.mainResponsibleName }}</td>
                        <td>
                            <button class="buttons miniButtons" id="contribution"
                                    onclick="window.location.href='tasks_editTask.php?taskid={{ task.getTaskID() }}';">
                                Se detaljer
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>

    <section>
        {# Endre Gruppe #}
        {% if user.isAdmin() or user.isProjectLeader() or user.isGroupLeader() %}
            <!--h6 class="marginleft overskrift">Endre Gruppe</h6><br-->
            <div class="container container_menu_high text">
                <h5 class="overskriftLiten">Endre Gruppe</h5>
                <form method="post" id="group_edit_form">
                    <br><label>Gruppenavn: </label>
                    <br><input type="text" name="groupName" value="{{ group.getGroupName }}" placeholder="Gruppenavn"
                               maxlength=45
                               id="groupName"/>
                    <br><label>Velg gruppeleder:</label>
                    <br>
                    <div class="wrapper">
                        <select name="groupLeader" id="" class="form-control" onfocus='this.size=10;'
                                onblur='this.size=10;'
                                onchange='this.size=10; this.blur();'>
                            {% for candidate in candidates %}
                                <option value="{{ candidate.getUserID() }}" {% if candidate.getUserID() == group.getGroupLeader() %} selected {% endif %}>{{ candidate.getLastName }} {{ candidate.getFirstName }}
                                    ({{ candidate.getUsername }})
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if user.isAdmin %}
                        <br><label>Admin eller vanlig gruppe: </label>
                        <br><input type="radio" name="isAdmin" value="1" {% if group.isAdmin() %} checked {% endif %}>
                        <label>Admin</label><br>
                        <input type="radio" name="isAdmin" value="0" {% if not group.isAdmin() %} checked {% endif %}>
                        <label>Vanlig</label><br>
                    {% endif %}
                    <input type="hidden" value="{{ getMac("Group edit") }}" name="XSRFPreventionToken">
                    <br><input type="submit" name="group_edit" id="reg_btn" value="Endre gruppe">
                </form>
            </div>

            {# Legg til brukere på gruppen #}
            <div class="container container_menu_high text">
                <h5 class="overskriftLiten">Legg til brukere på gruppen</h5>
                <form method="post" id="add_group_members_form">
                    <br><label>Legg til brukere på gruppen: </label>
                    <br>
                    <div class="wrapper">
                        <select name="groupMembers[]" id="" class="form-control" multiple onfocus='this.size=10;'
                                onblur='this.size=10;' onchange='this.size=10; this.blur();'>
                            {% for empl in employees %}
                                <option value="{{ empl.getUserID() }}">{{ empl.getFirstName }} {{ empl.getLastName }}
                                    (ID: {{ empl.getUserId }})
                                </option>
                            {% endfor %}
                        </select></div>
                    <input type="hidden" value="{{ getMac("Group add members") }}" name="XSRFPreventionToken">
                    <br><input type="submit" name="add_members" id="reg_btn" value="Legg til medlemmer">
                </form>
            </div>

            {# Fjerne brukere fra gruppen #}
            <div class="container container_menu_high text">
                <h5 class="overskriftLiten">Fjerne brukere fra gruppen</h5>
                <form method="post" id="remove_group_members_form">
                    <br><label>Fjerne brukere fra gruppen: </label>
                    <br>
                    <div class="wrapper">
                        <select name="groupMembers[]" id="" class="form-control" multiple onfocus='this.size=10;'
                                onblur='this.size=10;' onchange='this.size=10; this.blur();'>
                            {% for empl in members %}
                                <option value="{{ empl.getUserID() }}">{{ empl.getFirstName }} {{ empl.getLastName }}
                                    (ID: {{ empl.getUserId }})
                                </option>
                            {% endfor %}
                        </select></div>
                    <input type="hidden" value="{{ getMac("Group remove members") }}" name="XSRFPreventionToken">
                    <br><input type="submit" name="remove_members" id="reg_btn" value="Fjern medlemmer">
                </form>
                </p>
            </div>
        {% endif %}

    </section>

        {# Endre prosjekt #}
        {% if user.isAdmin() %}
            <div class="container container_menu_small text">
                <h5 class="overskriftLiten">Endre prosjekt</h5>
                <form method="post" id="add_to_project">
                    <br><label>Velg prosjekt:</label>
                    <br>
                    <div class="wrapper">
                        <select name="projectName" id="" class="form-control" onfocus='this.size=10;'
                                onblur='this.size=10;'
                                onchange='this.size=10; this.blur();'>
                            {% for project in projects %}
                                <option value="{{ project.getProjectName() }}" {% if project.getProjectName() == group.getProjectName() %} selected {% endif %}>{{ project.getProjectName() }}
                                </option>
                            {% endfor %}
                        </select></div>
                    <input type="hidden" value="{{ getMac("Add group to project") }}" name="XSRFPreventionToken">
                    <br><input type="submit" name="add_to_project" id="reg_btn" value="Endre prosjekt">
                </form>
            </div>

            <div id="text">
                <form method="post"
                      onsubmit="return confirm('Er du sikker på å slette gruppen? \n(Kan ikke angres etterpå)');">
                    <input type="hidden" value="{{ getMac("Delete group") }}" name="XSRFPreventionToken">
                    <br><input type="submit" name="group_delete" value="Slett gruppe" class="delete"/>
                </form>
            </div>
        {% endif %}

        <div id="text">
            <button class="button miniButtons" onclick="goBack()">Gå tilbake</button>
        </div>
    </section>

    {# FEILMELDINGER FRA DATABASE #}
    {# {% if user.isAdmin() or user.isProjectLeader() or user.isGroupLeader() %} #}
    <div class="container container_big_long text scroll">
        <h5>Tilbakemeldinger fra database</h5>
        {% if session.getFlashBag.has('header') %}
            {% for header in session.getFlashBag.get('header', []) %}
                <h6>{{ header }}</h6>
            {% endfor %}
            {% for message in session.getFlashBag.get('message', []) %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
    {# {% endif %} #}

    <section id="paddingFromBotton" class="paddingFromBotton"></section>

{% endblock %}