{% extends "layout.twig" %}
{% block content %}
    <section class="prosjektleder_dashboard" id="prosjektleder_dashboard">

        {% set stamp = "" %}
        {% for status in hours %}
            {% if status.stampingStatus == true %}
                {% if status.stampingStatus|length > 0 %}
                    {% set stamp = true %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if stamp %}
            {# KNAPP - REGISTRER INN HVIS IKKE DET ER EN AKTIV TIMEREGISTRERING stampingStatus = 1 #}
            <div id="text">
                <form method="post" id="register_time_form">
                    <select name="Kategori">
                        <option value="Administrativt">Administrativt</option>
                        <option value="Kurs">Kurs</option>
                        <option value="Møte">Møte</option>
                        <option value="Prosjekt">Prosjekt</option>
                        <option value="Rapportering">Rapportering</option>
                        <option value="Selvstudie">Selvstudie</option>
                    </select>
                    <select name="Lokasjon">
                        <option value="Hjemmekontor">Hjemmekontor</option>
                        <option value="Kontor">Kontor</option>
                        <option value="Ute">Ute</option>
                        <option value="Reise">Reise</option>
                    </select>
                    <input type="submit" name="register_time" id="reg_btn" value="Start timeregistrering">
                </form>
            </div>
        {% endif %}


        {% for status in hours %}
            {% if status.stampingStatus == false %}
                {# KNAPP - REGISTRER UT HVIS DET ER EN AKTIV TIMEREGISTRERING stampingStatus = 0 #}
                <div id="text">
                    <form method="post" id="stop_time_form">
                        <input type="submit" name="stop_time" id="reg_btn"
                               value="{{ status.hourID }} Stopp timeregistrering">
                    </form>
                </div>
            {% endif %}
        {% endfor %}
        {# Prosjekter og oppgaver #}
        <div class="container container_medium_long scroll">
            <img src="images/icon_task.png" width="40px" alt="Icon"/>
            <h6>Prosjekter og oppgaver</h6>
            <div class="text">
                Se prosjekter og oppgaver
            </div>
        </div>

        {# Feilmeldinger #}
        <div class="container container_medium_long scroll">
            <img src="images/icon_feilmeldinger.png" width="40px" alt="Icon"/>
            <h6>Feilmeldinger i dag</h6>
            {% if session.getFlashBag.has('header') %}
                {% for header in session.getFlashBag.get('header', []) %}
                    <h6>{{ header }}</h6>
                {% endfor %}
                {% for message in session.getFlashBag.get('message', []) %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>

    </section>

    <section>

        <div class="container container_big text scroll">
            <img src="images/icon_kommentar.png" width="40px" alt="Icon"/>
            Siste kommentarer fra brukere<br><br>
            {% for hoursAll in hoursAll %}{% for users in users %}
                {% if hoursAll.whoWorked == users.userID %}
                    <h6>{{ users.firstname }} {{ users.lastname }}</h6>
                    <ul>{{ hoursAll.comment }}</ul><br>
                {% endif %}
            {% endfor %}{% endfor %}
        </div>

    </section>
{% endblock %}
    {# REFERENCES #}
    {# Adobe XD icons #}
    {# icon_task.png: https://icon-icons.com/icon/task/120291  #}