{% extends "layout.twig" %}
{% block content %}

    <section class="grupper" id="grupper">
        {# FEILMELDINGER FRA DATABASE #}
        {% if session.getFlashBag.has('header') %}
            <div class="container container_big_long text">
                {% for header in session.getFlashBag.get('header', []) %}
                    <h6>{{ header }}</h6>
                {% endfor %}
                {% for message in session.getFlashBag.get('message', []) %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </section>

    <section>

        <div class="openContainerNoBorder text scrollX">
            <h5>Mine grupper</h5>
            <table class="table" id="table">
                <tr>
                    <th>Gruppenavn</th>
                    <th>Gruppeleder</th>
                    <th>Prosjekt</th>
                    <th>Antall medlemmer</th>
                    <th>Gruppetype</th>
                    <th>Se detaljer og rediger</th>
                </tr>
                {% for grp in groupsOfUser %}
                    <tr>
                        <td>{{ grp.getGroupName }}</td>
                        <td>{{ grp.leaderName }}</td>
                        <td>{{ grp.getProjectName }}</td>
                        <td>{{ grp.nrOfMembers }}</td>

                        {% if grp.isAdmin() %}
                            <td>Admin gruppe</td>
                        {% else %}
                            <td>Vanlig gruppe</td>
                        {% endif %}
                        <td>
                            <button class="buttons miniButtons" id="miniButtons"
                                    onclick="location.href='group_edit.php?groupid={{ grp.getGroupID() }}';">
                                Se detaljer
                            </button>
                        </td>

                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="openContainerNoBorder text scrollX">
            <h5>Alle grupper</h5>
            <table class="table" id="table">
                <tr>
                    <th>Gruppenavn</th>
                    <th>Gruppeleder</th>
                    <th>Prosjekt</th>
                    <th>Antall medlemmer</th>
                    <th>Gruppetype</th>
                    {% if user.isAdmin() or user.isProjectLeader() %}
                        <th>Se detaljer og rediger</th>
                    {% endif %}
                </tr>
                {% for grp in groups %}
                    <tr>
                        <td>{{ grp.getGroupName }}</td>
                        <td>{{ grp.leaderName }}</td>
                        <td>{{ grp.getProjectName }}</td>
                        <td>{{ grp.nrOfMembers }}</td>

                        {% if grp.isAdmin() %}
                            <td>Admin gruppe</td>
                        {% else %}
                            <td>Vanlig gruppe</td>
                        {% endif %}
                        {% if user.isAdmin() or user.isProjectLeader() %}
                        <td>
                            <button class="buttons miniButtons" id="miniButtons"
                                    onclick="window.location.href='group_edit.php?groupid={{ grp.getGroupID() }}';">
                                Se detaljer
                            </button>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>


{% endblock %}