<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$ </title>
</head>
<body>
    <script>
        function myFunction() {
            var x = document.getElementById("myHeader");
            if (x.className === "header") {
                x.className += " responsive";
            } else {
                x.className = "header";
            }
        }
    </script>
    <div class="header" id="myHeader">
        <img src="images/morild_logo_150px.png" data-href="index.php" width="230pt" alt="Logo"/>

        {% if user.isAdmin %}
            <a href="index.php">Admin: <b>{{user.getFirstName()}}</b></a>
            <a href="timeregistration.php">Timeregistreringer </a>
            <a href="userprofiles.php">Brukerprofiler</a>
            <a href="projects.php">Prosjekter</a>
            <a href="groups.php">Grupper</a>
            <a href="reports.php">Rapporter</a>
            <a href="profile_edit.php">Min profil</a>

        {% elseif user.isProjectLeader %}
            <a href="index.php">Prsj.leder: <b>{{user.getFirstName()}}</b></a>
            <a href="timeregistration.php">Timeregistreringer </a>
            <a href="userprofiles.php">Brukerprofiler</a>
            <a href="projects.php">Prosjekter</a>
            <a href="groups.php">Grupper</a>
            <a href="reports.php">Rapporter</a>
            <a href="profile_edit.php">Min profil</a>

        {% elseif user.isGroupLeader() %}
            <a href="index.php">Group.leder: <b>{{user.getFirstName()}}</b></a>
            <a href="timeregistration.php">Timeregistreringer </a>
            <a href="userprofiles.php">Mine brukere</a>
            <a href="projects.php">Prosjekter</a>
            <a href="groups.php">Mine Grupper</a>
            <a href="reports.php">Rapporter</a>
            <a href="profile_edit.php">Min profil</a>

        {% elseif user.isEmployee %}
            <a href="index.php">Ansatt: <b>{{user.getFirstName()}} </b></a>
            <a href="timeregistration.php">Mine timeregistreringer </a>
            <a href="projects.php">Prosjekter</a>
            <a href="groups.php">Mine Grupper</a>
            <a href="reports.php">Rapporter</a>
            <a href="profile_edit.php">Min profil</a>

        {% elseif user.isCustomer %}
            <a href="index.php">Velkommen til kundesiden: <b>{{user.getFirstName()}} </b></a>
            <a href="projects.php">Prosjektets fremgang</a>
            <a href="reports.php">Prosjektets rapporter</a>
            <a href="profile_edit.php">Min profil</a>

        {% endif %}

        <a href="logout.php">Logg ut</a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</body>
</html>
