<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        New catalog
    </title>
    <link type="text/css" rel="stylesheet" href="../stylesheet.css" />
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
{% include 'login2.twig' %}
<h1>Add new catalog: </h1>
    {% if user %}

<div class = "form">
        <form method="post">
            <table>
                <tr>
                    <td>
                        <input type="checkbox" name="access" value="0">
                        Only accessible for registered users
                    </td>
                <tr>
                    <td>
                        <label>Catalog name: </label>
                        <br><input type="text" name="catalogName" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Catalog:</label>
                        <br><select name="catalogId">
                            <option value="1"> Main </option>
                            {% if catalogsList %}
                                {% for catalog in catalogsList %}
                                    <option value="{{ catalog.catalogId }}">{{ archive.getCatalogPath(catalog.catalogId) }} </option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </td>
                </tr>
            <tr>
                <td>
                    <input type="hidden" value="{{ getMac("Catalog upload") }}" name="XSRFPreventionToken">
                    <button type="submit" name="post_catalog" value="Post">Add catalog</button>
                </td>
            </tr>
            </table>
        </form>
    </div>
    {% else %}
        <p>You must login to add new catalog</p>
        <br><a href="{{rel}}register/" class="button-white">Register </a>
        <a href="{{rel}}login/" class="button-white">Login page </a>
    {% endif %}
<p id="back"><a href = "javascript:history.back()"><img src="{{rel}}Images/BackBtn.svg" alt="Back" width="100"></a></p>
</body>
</html>
