{% extends "layout.twig" %}
{% block content %}
    <section class="edit_project" id="edit_project">

        {# TILBAKE KNAPP #}
        <div class="container container_small cursor" onclick="goBack()">
            <button id="button" class="button" title="Ny bruker"
                    onclick="goBack()">
                <img src="" width="30em"> Gå tilbake
            </button>
        </div>

        <h6 class="marginleft overskrift">Fase info side</h6>
        {# FASE INFO #}
        <div class="container container_menu_form text" id="phase_info">
            <h5 class="overskriftLiten">Prosjekt detaljer: </h5>
            Prosjekt: <b>{{ project.getProjectName }}</b><br>
            <br>Prosjekt Leder: <b>{{ project.leaderName }} </b><br>
            <br>Prosjekt Leder: <b>{{ project.customerName }} </b><br>
            <br>Prosjekt starttid: <b>{{ project.getStartTime }} </b><br>
            <br>Prosjekt sluttid: <b>{{ project.getFinishTime }} </b><br>

            {% if project.getStatus == 0 %}
                <br>Prosjekt status: <b>Vendende</b><br>
            {% elseif project.getStatus == 1 %}
                <br>Prosjekt status: <b>Pågår</b><br>
            {% elseif project.getStatus == 2 %}
                <br>Prosjekt status: <b>Pauset</b><br>
            {% elseif project.getStatus == 3 %}
                <br>Prosjekt status: <b>Avslått</b><br>
            {% elseif project.getStatus == 4 %}
                <br>Prosjekt status: <b>Avsluttet</b><br>
            {% endif %}
            {% if project.isAcceptedByAdmin() %}
                <br>Godkjent av admin: <b>Ja, godkjent!</b><br>
            {% else %}
                <br>Godkjent av admin: <b>Ikke godkjent!</b><br>
                {% if user.isAdmin() or user.isGroupLeader()  or user.isGroupLeader() or user.isProjectLeader() %}
                    <form method="post" action="projects_editProject.php?projectid={{ project.getProjectID }}">
                        <input type="hidden" value="{{ getMac("Verify project") }}" name="XSRFPreventionToken">
                        <button type="submit" name="project_verify" class="buttons miniButtons" id="miniButtons">
                            Godkjenn prosjektet
                        </button>
                    </form><br>
                {% endif %}
            {% endif %}

            <br><h5 class="overskriftLiten">Fase detaljer: </h5>
            Fase: <b>{{ phase.getPhaseName }}</b><br>
            <br>Fase starttid: <b>{{ phase.getStartTime }} </b><br>
            <br>Fase sluttid: <b>{{ phase.getFinishTime }} </b><br>

            {% if phase.getStatus == 0 %}
                <br>Fase status: <b>Ventende</b>
            {% elseif phase.getStatus == 1 %}
                <br>Fase status: <b>Pågår</b>
            {% elseif phase.getStatus == 2 %}
                <br>Fase status: <b>Pauset</b>
            {% elseif phase.getStatus == 3 %}
                <br>Fase status: <b>Avsluttet</b>
            {% endif %}
        </div>

        <div class="container container_menu_lang text" id="project_members">
            <br><label class="overskriftLiten">Medlemmer i dette prosjektet: </label></br>
            <table class="table">
                <tr>
                    <th>Brukernavn</th>
                    <th>Fornavn</th>
                    <th>Etternavn</th>
                    <th>Se bidrag</th>
                </tr>
                {% for member in members %}
                    <tr>
                        <td>{{ member.getUsername() }}</td>
                        <td>{{ member.getFirstName }}</td>
                        <td>{{ member.getLastName }}</td>
                        <td>
                            <button class="buttons miniButtons" id="contribution"
                                    onclick="window.location.href='user_contribution.php';">
                                Bidrag
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="container container_menu_lang text" id="phase_tasks">
            <br><label class="overskriftLiten">Oppgaver i denne fasen: </label>
            <table class="table">
                <tr>
                    <th>Navn</th>
                    <th>Tidsbruk</th>
                    <th>Estimert tid</th>
                    <th>Hoved ansvarlig</th>
                    <th>Status</th>
                </tr>
                {% for task in phaseTasks %}
                    <tr>
                        <td>{{ task.getTaskName() }}</td>
                        <td>{{ task.getTimeSpent() }}</td>
                        <td>{{ task.getEstimatedTime() }}</td>
                        <td>{{ task.mainResponsibleName }}</td>
                        {% if task.getStatus() == 0 %}
                            <td>Ventende</td>
                        {% elseif task.getStatus() == 1 %}
                            <td>På arbeid</td>
                        {% elseif task.getStatus() == 2 %}
                            <td>Pause</td>
                        {% elseif Task.getStatus() == 3 %}
                            <td>Ferdig</td>
                        {% endif %}
                        <td>
                            <button class="buttons miniButtons" id="contribution"
                                    onclick="window.location.href='tasks_editTask.php?taskid={{ task.getTaskID() }}';">
                                Se detaljer
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>

    <section>
        <div class="container container_menu_form text" id="add_tasks_to_phase">
            <form method="post" id="add_tasks_form">
                <br><label class="overskriftLiten"><b>Legg til oppgaver på fasen: </b></label>
                <br><select name="tasks[]" id="" class="form-control" multiple onfocus='this.size=10;'
                            onblur='this.size=10;' onchange='this.size=10; this.blur();'>
                    {% for task in tasks %}
                        <option value="{{ task.getTaskID() }}">{{ task.getTaskName() }}
                        </option>
                    {% endfor %}
                </select>
                <input type="hidden" value="{{ getMac("Add tasks to phase") }}" name="XSRFPreventionToken">
                <br><input type="submit" name="tasks_add" id="reg_btn" value="Legg til oppgaver">
            </form>
        </div>

        <div class="container container_menu_form text" id="remove_tasks_from_phase">
            <form method="post" id="remove_tasks_form">
                <br><label class="overskriftLiten"><b>Fjern oppgaver fra fasen: </b></label>
                <br><select name="tasks[]" id="" class="form-control" multiple onfocus='this.size=10;'
                            onblur='this.size=10;' onchange='this.size=10; this.blur();'>
                    {% for task in phaseTasks %}
                        <option value="{{ task.getTaskID() }}">{{ task.getTaskName() }}
                        </option>
                    {% endfor %}
                </select>
                <input type="hidden" value="{{ getMac("Remove tasks from phase") }}" name="XSRFPreventionToken">
                <br><input type="submit" name="tasks_remove" id="reg_btn" value="Ta bort oppgaver">
            </form>
        </div>


        <div class="container container_menu_lang text" id="project_phases">
            <br><label class="overskriftLiten">Faser i dette prosjektet: </label>
            <table class="table">
                <tr>
                    <th>Fasenavn</th>
                    <th>Start dato</th>
                    <th>Slutt dato</th>
                    <th>Status</th>
                    <th>Se detaljer</th>
                </tr>
                {% for ph in phases %}
                    <tr>
                        <td>{{ ph.getPhaseName() }}</td>
                        <td>{{ ph.getStartTime() }}</td>
                        <td>{{ ph.getFinishTime() }}</td>
                        {% if ph.getStatus() == 0 %}
                            <td>Ventende</td>
                        {% elseif ph.getStatus() == 1 %}
                            <td>Aktiv</td>
                        {% elseif ph.getStatus() == 2 %}
                            <td>Pause</td>
                        {% elseif ph.getStatus() == 3 %}
                            <td>Avsluttet</td>
                        {% endif %}
                        <td>
                            <button class="buttons miniButtons" id="contribution"
                                    onclick="window.location.href='phases_editPhase.php?phaseid={{ phase.getPhaseID() }}';">
                                Se detaljer
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </section>

    <section>

        <div class="container container_menu_form text" id="edit_phase">
            <h5 class="overskriftLiten">Endre fase</h5>
            <form method="post" id="pahse_edit_form">
                <br><label>Fasenavn: </label>
                <br><input type="text" name="phaseName" value="{{ phase.getPhaseName() }}" maxlength=45 required
                           id="phaseName"/>
                <br><label for="startTime">Start tid</label>
                <br><input id="startTime" type="date" name="startTime" value="{{ phase.getStartTime() }}"
                           placeholder="dd.mm.åååå" maxlength=90 required/>
                <br><label for="finishTime">Slutt tid</label>
                <br><input id="finishTime" type="date" name="finishTime" value="{{ phase.getFinishTime() }}"
                           placeholder="dd.mm.åååå" maxlength=90 required/>
                <table>
                    <tr>
                        <td colspan="2">
                            <label>Status på fasen: </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="waiting" name="status" value="0"
                                   required {% if phase.getStatus() == 0 %} checked {% endif %}>
                        </td>
                        <td>
                            <label for="waiting">Ventende </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="active" name="status" value="1"
                                   required {% if phase.getStatus() == 1 %} checked {% endif %}>
                        </td>
                        <td>
                            <label for="active">Pågår </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" name="status" id="paused" value="2"
                                   required {% if phase.getStatus() == 2 %} checked {% endif %}>
                        </td>
                        <td>
                            <label for="paused">På pause </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" name="status" id="ended" value="3"
                                   required {% if phase.getStatus() == 3 %} checked {% endif %}>
                        </td>
                        <td>
                            <label for="ended">Avsluttet </label>
                        </td>
                    </tr>
                </table>
                <input type="hidden" value="{{ getMac("Edit phase") }}" name="XSRFPreventionToken">
                <br><input type="submit" name="phase_edit" id="reg_btn" value="Endre fase detaljer">
            </form>
        </div>

        <div class="openContainerNoBorder text" id="delete_project">
            {% if user.isAdmin() %}
                <form method="post"
                      onsubmit="return confirm('Er du sikker på å slette fasen?\n(Kan ikke angres i etterkant!)');">
                    <input type="hidden" value="{{ getMac("Delete phase") }}" name="XSRFPreventionToken">
                    <input type="submit" name="phase_delete" value="Slett fase" class="delete"/>
                </form>
            {% endif %}
        </div>

    </section>

    <div class="container container_big_long text">
        <h5>Tilbakemeldinger fra database</h5>
        {% if session.getFlashBag.has('header') %}
            {% for header in session.getFlashBag.get('header', []) %}
                <h6>{{ header }}</h6>
            {% endfor %}
            {% for message in session.getFlashBag.get('message', []) %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}