<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../stylesheet.css" />
    <title>Edit User</title>
</head>
<body>
<script>
    //Delvis modifisert fra https://stackoverflow.com/questions/21727317/how-to-check-confirm-password-field-in-form-without-reloading-page
    var check = function() {
        var pass1 = document.getElementById("password1").value;
        var pass2 = document.getElementById("password2").value;
        if (pass1 != "" && pass2 != "") {
            if (pass1 === pass2) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
                return true;
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
                return false;
            }
        }
        else document.getElementById('message').innerHTML = '';
        return false;
    }

    function validate(){
        return check();
    }

</script>
<h1>Register user</h1>
{% if session.getFlashBag.has('header') %}
{% for header in session.getFlashBag.get('header', []) %}
<h3>{{ header }}</h3>
{% endfor %}
{% for message in session.getFlashBag.get('message', []) %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
<div class = "form">
    <form method="post" id="profile_edit_form">
        <div>
            <br><label>Addresse:</label>
            <br><input type="text" name="address" placeholder="Addresse" maxlength=90 value="{{ user.getAddress() }}" />
            <br><label>Postnummer:</label>
            <br><input type="text" name="zipCode" placeholder="Post nr" maxlength=10 required value="{{ user.getZipCode() }}"/>
            <br><label>By:</label>
            <br><input type="text" name="city" placeholder="By" maxlength=45 required value="{{ user.getCity() }}"/>
            <br><label>Telefon nummer: </label>
            <br><input type="text" name="phoneNumber" placeholder="+471234568" maxlength=45 value="{{ user.getPhoneNumber() }}"/>
            <br><label>Mobil nummer:</label>
            <br><input type="text" name="mobileNumber" placeholder="+4712345678" maxlength=45 value="{{ user.getMobileNumber() }}" />
            <br><label>IM addresse:</label>
            <br><input type="text" name="IMAddress" placeholder="IM addresse" maxlength=45 value="{{ user.getIMAddress() }}" />
            <input type="hidden" value="{{ getMac("Edit my information") }}" name="XSRFPreventionToken">
            <br><input type="submit" name="profile_edit" id="edit_btn" value="Endre">
        </div>
    </form>
    <form method="post" id="edit_my_email">
        <div>
            <br><label>Epost:</label>
            <br><input type="email" name="emailAddress" value="{{ user.getEmailAddress() }}" placeholder="Epost adddresse" maxlength=60 required id="emailAddress" />
            <span></span>
        </div>
        <input type="hidden" value="{{ getMac("Edit my email address") }}" name="XSRFPreventionToken">
        <br><input type="submit" name="edit_email" id="edit_btn" value="Endre epost addresse">
    </form>
    <form method="post" id="edit_my_username">
        <label>Brukernavn:</label>
        <div>
            <br>
            <input type="text" name="username" value="{{ user.getUsername() }}" placeholder="Brukernavn" maxlength=45 required id="username" />
            <span></span>
        </div>
        <input type="hidden" value="{{ getMac("Edit my username") }}" name="XSRFPreventionToken">
        <br><input type="submit" name="edit_username" id="edit_btn" value="Endre brukernavn">
    </form>
    <form method="post" id="edit_my_password" onsubmit="return validate();">
        <div>
            <br><label>Passord: </label>
            <br><input type="password" name="password"  required id="password1" placeholder="Passord" minlength=8 maxlength=40 value="" onkeyup='check();'>
            <br><label>Confirm password:</label>
            <br><input type="password" name="password2" required id="password2" placeholder="Gjenta passord" minlength=8 maxlength=40 value="" onkeyup='check();'/>
            <span id='message'></span>
            <input type="hidden" value="{{ getMac("Edit my password") }}" name="XSRFPreventionToken">
            <br><input type="submit" name="edit_password" id="edit_btn" value="Endre passord">
        </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="user_register_check.js"></script>

</body>
</html>