{% extends "layout.twig" %}
{% block content %}
    <section id="prosjekter" class="prosjekter">

        <div>
            {#GÅ TILBAKE KNAPP#}
                <button class="button buttons" id="prosjektKnapper" onclick="goBack()"> <img src="" alt=""> Gå tilbake</button>
        </div>

    </section>

    {% if session.getFlashBag.has('header') %}
        <div class="container container_big_long text">
            {% for header in session.getFlashBag.get('header', []) %}
                <h6>{{ header }}</h6>
            {% endfor %}
            {% for message in session.getFlashBag.get('message', []) %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <section id="addProject" >

        <div class="openContainerNoBorder text" id="prosjektTabell">
            <h3>Legg til nytt prosjekt </h3>

            {#FORM - LEGG TIL PROSJEKT#}
            <form action="projects_addProject.php" enctype="multipart/form-data" method="post" class="formProject" id="formProject">
                <div id="tekst">
                    <br><label for="projectName">Prosjekt Navn: </label>
                    <br><input type="text" name="projectName" value="" placeholder="Prosjekt Navn" maxlength=90 required id="projectName" />
                    <br><label for="customer">Kunde:</label>
                    <br><select name="customer" id="customer">
                        {% for customer in customers %}
                            <option value="{{ customer.getUserId() }}">{{ customer.getLastName() }}, {{ customer.getFirstName() }} </option>
                        {% endfor %}
                    </select>
                    <br><label for="startTime">Start tid</label>
                    <br><input id="startTime" type="date" name="startTime" value="" placeholder="dd.mm.åååå" maxlength=90 required />
                    <br><label for="finishTime">Slutt tid</label>
                    <br><input id="finishTime" type="date" name="finishTime" value="" placeholder="dd.mm.åååå" maxlength=90 required />
                    <table>
                        <tr>
                            <td colspan="2">
                                <label>Status på prosjektet: </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                        <input type="radio" id="waiting" name="status" value="0" required>
                            </td>
                            <td>
                                <label for="waiting">Ventende </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" id="active" name="status" value="1" required>
                            </td>
                            <td>
                                <label for="active">Pågår </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" name="status" id="paused" value="2" required>
                            </td>
                            <td>
                                <label for="paused">På pause </label>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" value="{{ getMac("addProject") }}" name="XSRFPreventionToken">
                    <br><input type="submit" name="addProject" id="addProject" value="Legg til prosjektet">
                </div>
            </form>

        </div>

    </section>
{% endblock %}