{% extends "layout.twig" %}
{% block content %}
    <section id="prosjekter" class="prosjekter">

        {#KNAPP - NYTT PROSJEKT#}
        <div class="container container_small">
            {% if User.isAdmin() == 1 %}
                <button class="button" id="button"
                        onclick="window.location.href='projects_addProject.php';">
                    <img src="images/icon_addproject.png"  width="30em" alt=""> Nytt prosjekt
                </button>
            {% endif %}
        </div>

        {#KNAPP - LEGG INN NY FUNSKJONER#}
        <div class="container container_small">
            {% if User.isAdmin() == 1 or User.isProjectLeader() == 1 %}
                <button class="button" id="button" onclick="">
                    <img src="images/icon_addproject.png"  width="30em" alt=""> Legge inn funksjoner
                </button>
            {% endif %}
        </div>

    </section>

    <section>
        <div class="openContainerNoBorder text" id="prosjektTabell">
            <h3>Prosjekter </h3>
            <table class="table" id="table">
                {% if projects %}
                    <tr>
                        <th>Prosjekt navn</th>
                        <th>Prosjektleder</th>
                        <th>Starttid</th>
                        <th>Slutttid</th>
                        <th>Status</th>
                        <th>Kunde</th>
                        <th>Antall medlemmer</th>
                        <th>Godkjent av admin</th>
                        <th>Detaljer & rediger</th>
                    </tr>
                    {% for Project in projects %}
                        <tr>
                            {#PROSJEKTNAVN#}
                            <td>{{ Project.getProjectName() }}</td>

                            {#PROSJEKTLEDER#}
                            {% for users in users %}
                                {% if Project.getProjectLeader() == users.getUserId() %}
                                    <td>{{ users.firstName }} {{ users.lastName }}</td>
                                {% endif %}
                            {% endfor %}
                            <td>{{ Project.getStartTime() }}</td>
                            <td>{{ Project.getFinishTime() }}</td>

                            {#PROSJEKT STATUS#}
                            {% if Project.getStatus() == 0 %}
                                <td>Ventende</td>
                            {% endif %}
                            {% if Project.getStatus() == 1 %}
                                <td>P책g책r</td>
                            {% endif %}
                            {% if Project.getStatus() == 2 %}
                                <td>Pauset</td>
                            {% endif %}
                            {% if Project.getStatus() == 3 %}
                                <td>Avsl책tt</td>
                            {% endif %}

                            {#PROSJEKT KUNDE#}
                            {% for users in users %}
                                {% if Project.getCustomer() == users.getUserId() %}
                                    <td>{{ users.username }}</td>
                                {% endif %}
                            {% endfor %}

                            {#PROSJEKT ANTALL MEDLEMMER#}
                            <td>{{ membersCount }}</td>

                            {#PROSJEKT GODKJENT AV ADMIN#}
                            {% if Project.getIsAcceptedByAdmin() == 0 %}
                                <td>Ventende</td>
                            {% endif %}
                            {% if Project.getIsAcceptedByAdmin() == 1 %}
                                <td>Godkjent</td>
                            {% endif %}
                            {% if Project.getIsAcceptedByAdmin() == 2 %}
                                <td>Avsl책tt</td>
                            {% endif %}

                            {#HVIS ADMIN, REDIGER KNAPP#}
                            {% if User.isAdmin %}
                            <td><button class="buttons miniButtons" id="miniButtons"
                                        onclick="location.href='projects_editProject.php?projectName={{ Project.getProjectName() }}';">
                                    <img src="" alt=""> Rediger
                                </button></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
        <div class="container container_big_long text">
            <h5>Tilbakemeldinger fra database</h5>
            {% if session.getFlashBag.has('header') %}
                {% for header in session.getFlashBag.get('header', []) %}
                    <h6>{{ header }}</h6>
                {% endfor %}
                {% for message in session.getFlashBag.get('message', []) %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}