{% extends "layout.twig" %}
{% block content %}
    <section class="prosjektleder_dashboard" id="prosjektleder_dashboard">
        {% if hourID is empty %}
            {# KNAPP - REGISTRER INN HVIS IKKE DET ER EN AKTIV TIMEREGISTRERING stampingStatus = 1 #}
            <div id="text">
                <form method="post" id="register_time_form">
                    <select name="Kategori">
                        <option value="" disabled selected hidden>Jobbet med hva</option>
                        <option value="Administrativt">Administrativt</option>
                        <option value="Kurs">Kurs</option>
                        <option value="Møte">Møte</option>
                        <option value="Prosjekt">Prosjekt</option>
                        <option value="Rapportering">Rapportering</option>
                        <option value="Selvstudie">Selvstudie</option>
                    </select>
                    <br><input type="text" name="Lokasjon" value="" placeholder="Lokasjon" maxlength=30 required
                           id="Lokasjon"/>
                    <br><input type="submit" name="register_time" id="reg_btn" value="Start timeregistrering">
                </form>
            </div>
        {% endif %}

        {% if not hourID is empty %}
            {# KNAPP - REGISTRER UT HVIS DET ER EN AKTIV TIMEREGISTRERING stampingStatus = 0 #}
            <div id="text">
                <form method="post" id="stop_time_form">
                    <input type="submit" name="stop_time" id="reg_btn"
                           value="{{ status.hourID }} Stopp timeregistrering">
                </form>
            </div>
        {% endif %}

        {# Databaseoppføringer #}
        <div class="container container_medium">
            <img src="images/icon_databse.png" width="40px" alt="Icon"/>
            <h6>Databaseoppføringer i dag</h6>
            <div class="text">
                Databaseoppføring i dag: 20 oppføringer
            </div>
        </div>

        {# Totale timeregistreringer i dag #}
        <div class="container container_medium">
            <img src="images/icon_clock.png" width="40px" alt="Icon"/>
            <h6>Totale timeregistreringer i dag</h6>
            <div class="text_bigtime">
                20:40
            </div>
        </div>

        {# Feilmeldinger #}
        <div class="container container_medium_long scroll">
            <img src="images/icon_feilmeldinger.png" width="40px" alt="Icon"/>
            <h6>Feilmeldinger i dag</h6>
            {% if session.getFlashBag.has('header') %}
                {% for header in session.getFlashBag.get('header', []) %}
                    <h6>{{ header }}</h6>
                {% endfor %}
                {% for message in session.getFlashBag.get('message', []) %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>

        {# Registrer fravær / Rediger timeføringer #}
        <div class="container container_medium">
            <img src="images/icon_clock.png" width="40px" alt="Icon"/>
            <h6>Registrer fravær / </h6>
            <h6>Rediger timeføringer</h6>
        </div>

        {# Prosjekter og oppgaver #}
        <div class="container container_medium_long scroll">
            <img src="images/icon_task.png" width="40px" alt="Icon"/>
            <h6>Prosjekter og oppgaver</h6>
            <div class="text">
                Se prosjekter og oppgaver
            </div>
        </div>

    </section>

    <section>
        {# Siste kommentarer fra brukere og ledere #}
        <div class="container container_big text scroll">
            <img src="images/icon_kommentar.png" width="40px" alt="Icon"/>
            Siste kommentarer fra brukere <br><br>
            {% for hour in hours %}
                {% if hour.comment is not empty %}
                    <table>
                        <tr>
                            <td class="widthFixed"><b>{{ hour.whoWorkedName }} :</b></td>
                            <td>{{ hour.startTime }}</td>
                        </tr>
                        <tr>
                            <td id="commentar"> {{ hour.comment }}</td>
                        </tr>
                    </table>
                {% endif %}
            {% endfor %}
        </div>
        <div class="container container_big text scroll">
            <img src="images/icon_kommentar.png" width="40px" alt="Icon"/>
            Siste kommentarer fra ledere <br><br>
            {% for hour in hours %}
                {% if hour.commentBoss is not empty %}
                    <table>
                        <tr>
                            <td class="widthFixed"><b>{{ hour.whoWorkedName }} :</b></td>
                            <td>{{ hour.startTime }}</td>
                        </tr>
                        <tr>
                            <td id="commentar"> {{ hour.commentBoss }}</td>
                        </tr>
                    </table>
                {% endif %}
            {% endfor %}
        </div>
    </section>

{% endblock %}
    {# REFERENCES #}
    {# Adobe XD icons #}
    {# icon_task.png: https://icon-icons.com/icon/task/120291        #}