{% extends "layout.twig" %}
{% block content %}
    <section class="edit_project" id="edit_project">
        <div>
            {% if User.isAdmin() == 1 %}
                <button class="button buttons" id="prosjektKnapper"
                        onclick="goBack()">
                    <img src="" alt=""> G책 tilbake
                </button>
            {% endif %}
        </div>
        <div class="container container_menu text" id="projekt_info">
            <h3>Rediger prosjekt</h3>
            <br>Prosjekt: <b>{{ project.getProjectName }}</b></br>
            {% for users in users %}
                {% if project.getProjectLeader == users.getUserId %}
                    <br>Prosjekt Leder: <b>{{ users.getFirstName }} {{ users.getLastName }}</b></br>
                {% endif %}
            {% endfor %}
            <br>Prosjekt starttid: <b>{{ project.getStartTime }} </b></br>
            <br>Prosjekt sluttid: <b>{{ project.getFinishTime }} </b></br>
        </div>

        <div class="container container_menu_lang text" id="project_members">
            <br><label>Medlemmer i dette prosjektet: </label></br>
            <table class="table">
                <tr>
                    <th>Bruker id</th>
                    <th>Fornavn</th>
                    <th>Etternavn</th>
                </tr>
                {% for members in members %}
                    <tr>
                        <td>{{ members.getUserID() }}</td>
                        <td>{{ members.getFirstName }}</td>
                        <td>{{ members.getLastName }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    <section>

        <div class="container container_menu_form text" id="edit_project">
            <form method="post" id="project_edit_form">
                <br><label>Prosjektnavn: </label>
                <br><input type="text" name="projectName" value="" placeholder="Prosjekt navn" maxlength=45 required
                           id="projectName"/>
                <br><label>Velg prosjektleder:</label>
                <div class="wrapper">
                    <select name="projectLeader" id="" class="form-control">
                        {% for empl in employees %}
                            <option value="{{ empl.getUserID() }}">{{ empl.getFirstName }} {{ empl.getLastName }}
                                (ID: {{ empl.getUserId }})
                            </option>
                        {% endfor %}
                    </select>
                </div>
                {% if user.isAdmin %}

                {% endif %}
                <input type="hidden" value="{{ getMac("Project edit") }}" name="XSRFPreventionToken">
                <br><input type="submit" name="project_edit" id="reg_btn" value="Endre prosjekt"></br>
            </form>
        </div>

        <div class="container container_menu_form text" id="add_user_to_project">
            <form method="post" id="add_project_members_form">
                <br><label>Legg til brukere i prosjektet: </label></br>
                <div class="wrapper">
                    <select name="projectMembers[]" id="" class="form-control"'>
                    {% for empl in employees %}
                        <option value="{{ empl.getUserID() }}">{{ empl.getFirstName }} {{ empl.getLastName }}
                            (ID: {{ empl.getUserId }})
                        </option>
                    {% endfor %}
                    </select>
                </div>
                <input type="hidden" value="{{ getMac("Project add members") }}" name="XSRFPreventionToken">
                <br><input type="submit" name="add_members" id="reg_btn" value="Legg til medlemmer">
            </form>
        </div>

        <div class="container container_menu_form text" id="remove_users_from_project">
            <form method="post" id="remove_group_members_form">
                <br><label>Fjerne brukere fra prosjektet: </label>
                <br>
                <div class="wrapper">
                    <select name="projectMembers[]" id="" class="form-control">
                        {% for empl in members %}
                            <option value="{{ empl.getUserID() }}">{{ empl.getFirstName }} {{ empl.getLastName }}
                                (ID: {{ empl.getUserId }})
                            </option>
                        {% endfor %}
                    </select></div>
                <input type="hidden" value="{{ getMac("Project remove members") }}" name="XSRFPreventionToken">
                <br><input type="submit" name="remove_members" id="reg_btn" value="Fjern medlemmer">
            </form>
        </div>

        <div class="openContainerNoBorder text" id="delete_project">
            {% if user.isAdmin() %}
                <form method="post"
                      onsubmit="return confirm('Er du sikker p책 책 slette prosjektet?\n(Kan ikke angres i etterkant!)');">
                    <input type="hidden" value="{{ getMac("Delete project") }}" name="XSRFPreventionToken">
                    <input type="submit" name="project_delete" value="Slett prosjekt" class="delete"/>
                </form>
            {% endif %}
            <button class="button miniButtons_green" onclick="goBack()">G책 tilbake</button>
        </div>
    </section>
    <div class="container container_big_long text">
        <h5>Tilbakemeldinger fra database</h5>
        {% if session.getFlashBag.has('header') %}
            {% for header in session.getFlashBag.get('header', []) %}
                <h6>{{ header }}</h6>
            {% endfor %}
            {% for message in session.getFlashBag.get('message', []) %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}