{% extends "layout.twig" %}
{% block content %}
    <section class="prosjektleder_dashboard" id="prosjektleder_dashboard">
        {# Databaseoppføringer #}
        <div class="container container_medium">
            <img src="images/icon_databse.png" width="40px" alt="Icon"/>
            <h6>Databaseoppføringer i dag</h6>
            <div class="text">
                Databaseoppføring i dag: 20 oppføringer
            </div>
        </div>

        {# Totale timeregistreringer i dag #}
        <div class="container container_medium">
            <img src="images/icon_clock.png" width="40px" alt="Icon"/>
            <h6>Totale timeregistreringer i dag</h6>
            <div class="text_bigtime">
                20:40
            </div>
        </div>

        {# Feilmeldinger #}
        <div class="container container_medium_long scroll">
            <img src="images/icon_feilmeldinger.png" width="40px" alt="Icon"/>
            <h6>Feilmeldinger i dag</h6>
            {% if session.getFlashBag.has('header') %}
                {% for header in session.getFlashBag.get('header', []) %}
                    <h6>{{ header }}</h6>
                {% endfor %}
                {% for message in session.getFlashBag.get('message', []) %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>

        {# Registrer fravær / Rediger timeføringer #}
        <div class="container container_medium">
            <img src="images/icon_clock.png" width="40px" alt="Icon"/>
            <h6>Registrer fravær / </h6>
            <h6>Rediger timeføringer</h6>
        </div>

        {# Prosjekter og oppgaver #}
        <div class="container container_medium_long scroll">
            <img src="images/icon_task.png" width="40px" alt="Icon"/>
            <h6>Prosjekter og oppgaver</h6>
            <div class="text">
                Se prosjekter og oppgaver
            </div>
        </div>

    </section>

    <section>
        {# Siste kommentarer fra brukere #}
        <div class="container container_big text scroll">
            <img src="images/icon_kommentar.png" width="40px" alt="Icon"/>
            Siste kommentarer fra brukere<br><br>
            {% for hoursAll in hoursAll %}{% for users in users %}
                {% if hoursAll.whoWorked == users.userID %}
                    {% if hoursAll.comment is not empty %}
                        <h6>{{ users.firstname }} {{ users.lastname }}</h6>
                        <ul>{{ hoursAll.comment }}</ul><br>
                    {% endif %}
                {% endif %}
            {% endfor %}{% endfor %}
        </div>
    </section>

<section>

</section>

{% endblock %}
    {# REFERENCES #}
    {# Adobe XD icons #}
    {# icon_task.png: https://icon-icons.com/icon/task/120291   #}