{% extends "layout.twig" %}
{% block content %}
    <section id="prosjekter" class="prosjekter">
        <div>
            {% if User.isAdmin() == 1 or User.isProjectLeader() == 1%}
            <button class="button buttons" id="prosjektKnapper">
                <img src="" alt=""> Nytt prosjekt</button>
            {% elseif User.isAdmin() == 1 %}
            <button class="button buttons">
                <img src="" alt=""> Slett prosjekt</button>
            {% elseif User.isAdmin() == 1 or User.isProjectLeader() == 1 %}
            <button class="button buttons">
                <img src="" alt=""> Legge inn funksjoner</button>
            {% elseif User.isAdmin() == 1 %}
            <button class="button buttons">
                <img src="" alt=""> Godkjenne prosjekt</button>
            {% endif %}
            <button class="button buttons">
                <img src="" alt=""> Alle prosjekter</button>
        </div>
    </section>
    <section>
        <div class="container container_big" id="prosjektTabell">
            <div class="text">
                <h3>Prosjekter </h3>
                <table class="table" id="table">
                    {% if projects %}
                        <tr>
                            <th>Prosjekt navn</th>
                            <th>Prosjektleder</th>
                            <th>Starttid</th>
                            <th>Slutttid</th>
                            <th>Status</th>
                            <th>Kunde</th>
                            <th>Godkjent av admin</th>
                        </tr>

                        {% for Project in projects %}
                        <tr>
                            <td>{{ Project.getProjectName() }}</td>
                            <td>{{ Project.getProjectLeader() }}</td>
                            <td>{{ Project.getStartTime() }}</td>
                            <td>{{ Project.getFinishTime() }}</td>
                            <td>{{ Project.getStatus() }}</td>
                            <td>{{ Project.getCustomer() }}</td>
                            <td>{{ Project.getIsAcceptedByAdmin() }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
    </section>
{% endblock %}