{% extends "layout.twig" %}
{% block content %}
    <section id="prosjekter" class="prosjekter">
        <div>
            <button class="button buttons" id="prosjektKnapper">
                <img src=""> Nytt prosjekt</button>
            <button class="button buttons">
                <img src=""> Slett prosjekt</button>
            <button class="button buttons">
                <img src=""> Legge inn funksjoner</button>
            <button class="button buttons">
                <img src=""> Godkjenne prosjekt</button>
            <button class="button buttons">
                <img src=""> Alle prosjekter</button>
        </div>
    </section>
    <section>
        <div class="container container_big" id="prosjektTabell">
            <div class="text">
                <h3>Prosjekter </h3>
                <table class="table" id="table">
                    {% if projects %}
                        <tr>
                            <th>Prosjekt navn</th>
                            <th>Prosjektleder</th>
                            <th>Starttid</th>
                            <th>Slutttid</th>
                            <th>Status</th>
                            <th>Kunde</th>
                            <th>Godkjent av admin</th>
                        </tr>
                        <!--
                        {% for Project in projects %}
                        <tr>
                            <td>{{ Project.getProjectName() }}</td>
                            <td>{{ Project.getProjectLeader() }}</td>
                            <td>{{ Project.getStartTime() }}</td>
                            <td>{{ Project.getFinishTime() }}</td>
                            <td>{{ Project.getStatus() }}</td>
                            <td>{{ Project.getCustomer() }}</td>
                            <td>{{ Project.getIsAcceptedbyAdmin() }}</td>
                        </tr>
                        {% endfor %}-->
                    {% endif %}
                </table>
            </div>
        </div>
    </section>
{% endblock %}
<<<<<<< HEAD
=======

>>>>>>> efde521b6e842ae9e1fad4275219e7f474e81630
