<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Morild Data BA</title>
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <link rel="stylesheet" href="stylesheet_print.css">
    <script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        jQuery(document).ready(function() {
            var doc = $(document);
            $('#container-burndown').highcharts({
                title: {
                    text: 'Burnup Chart of Project',
                    x: -10 //center
                },
                scrollbar: {
                    barBackgroundColor: 'gray',
                    barBorderRadius: 7,
                    barBorderWidth: 0,
                    buttonBackgroundColor: 'gray',
                    buttonBorderWidth: 0,
                    buttonBorderRadius: 7,
                    trackBackgroundColor: 'none',
                    trackBorderWidth: 1,
                    trackBorderRadius: 8,
                    trackBorderColor: '#CCC'
                },
                colors: ['blue', 'red'],
                plotOptions: {
                    line: {
                        lineWidth: 3
                    },
                    tooltip: {
                        hideDelay: 200
                    }
                },
                subtitle: {
                    text: 'All Project Team Summary',
                    x: -10
                },
                xAxis: {
                    categories: {{ idealXArray|json_encode|raw }}
        },
            yAxis: {
                title: {
                    text: 'Point ferdig'

                },
                type: 'linear',
                    max: {{sumEstimate}},
                    min:0,
                    tickInterval :1

            },

            tooltip: {
                valueSuffix: ' Estimate points',
                    crosshairs: true,
                    shared: true
            },
            legend: {
                layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
            },
            series: [{
                name: 'Actual Burn',
                color: 'rgba(255,0,0,0.75)',
                lineWidth: 4,

                data: {{ actualBurn|json_encode|raw }}
        }, {
                name: 'Ideal Trend',
                    color: 'rgba(0,120,200,0.75)',
                    marker: {
                    radius: 6
                },
                data: {{ idealTrendArray|json_encode|raw }}
            }]
        });
        });
    </script>
</head>
<body>
<page size="A4">
    <section class="rapport_utskrift" id="rapport_utskrift">
        <img src="images/morild_logo_150px.png" data-href="index.php" width="300pt" alt="Logo"/>
        <h3>{{ project.getProjectName() }} </h3>
        <h4>Kunde : {{ project.customerName }}</h4>
        <h4>Start tid : {{ project.startTime }}</h4>
        <h4>Slutt tid : {{ project.finishTime }}</h4>
        <h4>Estimert tid : {{ project.sumEstimate }} timer</h4>
        <h4>Tid brukt : {{ project.sumTimeSpent }} timer</h4>
        <h4>Estimert igjen : {{ project.sumEstimate - project.sumEstimateDone }} timer</h4>

        <button id="backbtn" class="button miniButtons" onclick="window.history.back()">Gå tilbake</button>
        <button id="printbtn" onclick="window.print()">Print this page</button>
        <table class="table">
            <tr>
                <th>Ansatte på prosjekt "{{ project.getProjectName }}"</th>
                <th>Totalt bidrag</th>
            </tr>
            {% for member in totalTimeWorked %}
                <tr>
                    <td>
                        {{ member.whoWorkedName }}
                    </td>
                    <td>
                        {{ member.sumTW }}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div id="container-burndown" style="max-width: 510px; height: 400px;"></div>
    </section>
</page>
<page size="A4">
    <section class="rapport_utskrift" id="rapport_utskrift">
        <h2>Oppgaver til prosjektet</h2>
    <table class="table">
        <tr>
            <th>Oppgavenavn </th>
            <th>Estimert tid på oppgave</th>
            <th>Tid brukt på oppgave</th>
            <th>Status</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>
                    {{ task.getTaskName() }}
                </td>
                <td>
                    {{ task.getEstimatedTime() }}
                </td>
                <td>
                    {{ task.getTimeSpent() }}
                </td>
                {% if task.getStatus() == 0 %}
                    <td>Ventende</td>
                {% elseif task.getStatus() == 1 %}
                    <td>På arbeid</td>
                {% elseif task.getStatus() == 2 %}
                    <td>Pause</td>
                {% elseif task.getStatus() == 3 %}
                    <td>Ferdig</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    </section>
</page>
</body>
</html>
