{% extends "layout.twig" %}
{% block content %}
    <section class="rapporter" id="rapporter">
        <div class="container container_small cursor" onclick="window.location.href='group_register.php';">
            <button id="button" class="button" title="Ny bruker"
                    onclick="window.location.href='group_register.php';">
                <img src="images/icon_legg_til_bruker.svg" width="30em"> Legg til ny gruppe
            </button>
        </div>
    </section>
<body>
    <section>
        {% if projects %}
            <div class="openContainerNoBorder text" id="prosjektTabell">
                {% if user.isAdmin() or user.isProjectLeader() %}
                <h3>Prosjekt rapporter </h3>
                <table class="table" id="table">
                    <tr>
                        <th>Prosjekt navn</th>
                        <th>Status</th>
                        <th>Tid brukt</th>
                        <th>Estimert totalt</th>
                        <th>Estimert tid igjen</th>
                        <th>Detaljer & utskrift</th>
                    </tr>
                    {% for project in projects %}
                        <tr>
                            {# PROSJEKTNAVN #}
                            <td>{{ project.getProjectName() }}</td>

                            {# PROSJEKT STATUS #}
                            {% if project.getStatus() == 0 %}
                                <td>Ventende</td>
                            {% endif %}
                            {% if project.getStatus() == 1 %}
                                <td>Pågår</td>
                            {% endif %}
                            {% if project.getStatus() == 2 %}
                                <td>Pauset</td>
                            {% endif %}
                            {% if project.getStatus() == 3 %}
                                <td>Avslått</td>
                            {% endif %}
                            {% if project.getStatus() == 4 %}
                                <td>Avsluttet</td>
                            {% endif %}
                            <td id="p2">{{ project.sumTimeSpent }}</td>
                            <td id="p3">{{ project.sumEstimate }}</td>
                            <td id="p3">{{ project.sumEstimate - project.sumEstimateDone }}</td>
                            <td>
                                <button class="buttons miniButtons" id="miniButtons"
                                        onclick="location.href='report_print.php?projectid={{ project.getProjectID() }}';">
                                    Skriv ut
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                </table>
            </div>
        {% endif %}
    </section>




    <section>
        <script>

            function showProgress() {
                document.getElementById('info').innerHTML = "";
                let myTab = document.getElementById('progressTable')

                // LOOP THROUGH EACH ROW OF THE TABLE AFTER HEADER.
                for (let i = 1; i < myTab.rows.length; i++) {

                    // GET THE CELLS COLLECTION OF THE CURRENT ROW.
                    const objCells = myTab.rows.item(i).cells;

                    // LOOP THROUGH EACH CELL OF THE CURENT ROW TO READ CELL VALUES.
                    for (let j = 0; j < objCells.length; j++) {
                        info.innerHTML = info.innerHTML + ' ' + objCells.item(j).innerHTML;
                    }
                    info.innerHTML = info.innerHTML + '<br />';     // ADD A BREAK (TAG).
                }
            }


            function drawChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Project');
                data.addColumn('number', 'Progress');
                let myTab = document.getElementById('progressTable')

                // LOOP THROUGH EACH ROW OF THE TABLE AFTER HEADER.
                for (let i = 1; i < myTab.rows.length; i++) {

                    // GET THE CELLS COLLECTION OF THE CURRENT ROW.
                    var objCells = myTab.rows.item(i).cells;

                    // LOOP THROUGH EACH CELL OF THE CURENT ROW TO READ CELL VALUES.
                    for (let j = 0; j < objCells.length; j++) {

                    }

                    data.addRows([
                        [objCells[0].innerText, {{ timeSpentSum }}/*myTab.rows[i].cells[1].firstChild.value*/]
                    ]);


                }

                // Set chart options
                var options = {'title':'Fremgang i prosjekt',
                    'width':500,
                    'height':300};

                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
                chart.draw(data, options);



                /*
                // Create the data table.
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Project');
                data.addColumn('number', 'Progress');
                data.addRows([
                    ['Mushrooms', 3],
                    ['Onions', 1],
                    ['Olives', 1],
                    ['Zucchini', 1],
                    ['Pepperoni', 2]
                ]);

                // Set chart options
                var options = {'title':'Fremgang i prosjekt',
                    'width':500,
                    'height':300};

                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
                chart.draw(data, options);*/
            }
        </script>


    </section>
</body>
{% endblock %}