<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Morild Data BA</title>
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <link rel="stylesheet" href="stylesheet_print.css">
</head>
<body>

<page size="A4">
    <section class="rapport_utskrift" id="rapport_utskrift">
        <img src="images/morild_logo_150px.png" data-href="index.php" width="300pt" alt="Logo"/>
        <h3>{{ project.getProjectName() }} </h3>
        <h4>Kunde : {{ project.customerName }}</h4>
        <h4>Start tid : {{ project.startTime }}</h4>
        <h4>Slutt tid : {{ project.finishTime }}</h4>
        <h4>Estimert tid : {{ project.sumEstimate }} timer</h4>
        <h4>Tid brukt : {{ project.sumTimeSpent }} timer</h4>

        <button id="backbtn" class="button miniButtons" onclick="window.history.back()">Gå tilbake</button>
        <button id="printbtn" onclick="window.print()">Print this page</button>
        <table class="table">
            <tr>
                <th>Ansatte på prosjekt "{{ project.getProjectName }}"</th>
                <th>Totalt bidrag</th>
            </tr>
            {% for member in totalTimeWorked %}
                <tr>
                    <td>
                        {{ member.whoWorkedName }}
                    </td>
                    <td>
                        {{ member.sumTW }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
</page>
</body>
</html>
