{% extends 'layout.twig' %}

{% block content %}

    <section class="edit_hour" id="edit_hour">
        {# TILBAKE KNAPP #}
        <div class="container noPaddingNoMargin container_small cursor" onclick="goBack()">
            <button id="button" class="button" title="Gå tilbake"
                    onclick="goBack()">
                <img class="imgicon" src="" alt=""><b>Gå tilbake</b>
            </button>
        </div>
    </section>

    {% if session.getFlashBag.has('header') %}
        <div class="container container_big_long text">
            {% for header in session.getFlashBag.get('header', []) %}
                <h6>{{ header }}</h6>
            {% endfor %}
            {% for message in session.getFlashBag.get('message', []) %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <section>
        {# Endre kommentar #}
        <div class="container container_menu_form text" id="edit_comment_hour">
            <h5 id="overskrift">Endre egen kommentar:</h5>
            <form method="post" id="edit_comment_hour1">
                <input id="hourID" type="hidden" name="hourID" value="{{ hour.hourID }}" maxlength=45
                       required/>
                <!--label class="overskriftLiten" for="comment">Endre din egen kommentar: </label><br-->
                <textarea id="commentbig" cols="2" rows="4" name="comment"
                          required>{{ hour.comment }}</textarea>
                <input type="hidden" value="{{ getMac("Edit Comment") }}"
                       name="XSRFPreventionToken">
                <br><input type="submit" name="edit_comment_hour" id="edit_comment_hour" value="Lagre kommentar">
            </form>
        </div>

        {% if user.isAdmin or user.isProjectLeader %}
            {# Endre kommentar fra sjefen #}
            <div class="container container_menu_form text" id="edit_comment_hour">
                <h5 id="overskrift">Endre kommentar til leder: </h5>
                <form method="post" id="edit_comment_hour1" class="edit_comment_hour1">
                    <input id="hourID" type="hidden" name="hourID" value="{{ hour.hourID }}" maxlength=45 required/>
                    <!--label class="overskriftLiten" for="commentBoss">Endre leder kommentaren: </label><br-->
                    <textarea id="commentbig" name="commentBoss" required>{{ hour.commentBoss }}</textarea>
                    <input type="hidden" value="{{ getMac("Edit Comment Boss") }}" name="XSRFPreventionToken">
                    <br><input type="submit" name="edit_commentBoss_hour" id="edit_commentBoss_hour"
                               value="Lagre kommentar">
                </form>
            </div>
        {% endif %}
    </section>

    <section>
        {# Endre tid #}
        <div class="container container_menu_form_hour text" id="edit_hour">
            <h5 id="overskrift">Endre Time-registrering:</h5>
            <form method="post" id="edit_hour">
                <!--b class="overskriftLiten">Endre Timeegistrering:</b><br-->

                <br><label for="hourID">Timeregistrerings Id: </label>
                <br><input type="text" name="hourID" value="{{ hour.hourID }}" disabled="disabled" maxlength=45 required
                           id="hourID"/>
                <br><label for="taskID">TaskId: </label>
                <br><input type="text" name="taskID" value="{{ hour.taskID }}" disabled="disabled" maxlength=45 required
                           id="taskID"/>
                <br><label for="startTime">Starttid: </label>
                <br><input type="text" name="startTime" value="{{ hour.startTime }}" maxlength=45 required
                           id="startTime"/>
                <br><label for="endTime">Sluttid: </label>
                <br><input type="text" name="endTime" value="{{ hour.endTime }}" maxlength=45 required id="endTime"/>
                <br><label for="phaseId">Fase id: </label>
                <br><input type="text" name="phaseId" value="{{ hour.phaseID }}" disabled="disabled" maxlength=45
                           required id="phaseId"/>
                {% if user.isAdmin %}
                <table>
                    <tr><th colspan="4">Godkjent av admin?</th></tr>
                    {% if hour.isActivated() %}
                    <tr><td colspan="4">Nå værenede status: Godkjent</td></tr>
                    {% else %}
                    <tr><td colspan="4">Nå værenede status: Ikke godkjent</td></tr>
                    {% endif %}
                    <tr>
                        <td><label for="ikkegodkjent">Ikke godkjent</label></td>
                        <td><input type="radio" id="ikkegodkjent" name="activated" value="0"></td>

                        <td><label for="godkjent">Godkjent</label></td>
                        <td><input type="radio" id="godkjent" name="activated" value="1"></td>
                    </tr>
                </table>
                {% endif %}

                <input type="hidden" value="{{ getMac("Edit Timereg") }}" name="XSRFPreventionToken">
                <br>
                <input type="submit" name="edit_timereg" id="edit_timereg" value="Redigere">
                <input type="submit" name="edit_deactivate" id="edit_deactivate" value="Deaktivere">
            </form>
        </div>

    </section>

{% endblock %}

