{% extends "layout.twig" %}
{% block content %}
    <section id="timeregistreringer" class="timeregistreringer">
    </section>
    <section>
        <div class="openContainerNoBorder text" id="timeTabell">
            <h4>Alle mine timeregistreringer</h4>
            <table class="table" id="table">
                <tr>
                    <th>ID</th>
                    <th>Task</th>
                    <th>Starttid</th>
                    <th>Slutttid</th>
                    <th>Kommentar</th>
                </tr>
                {% for hours in Hour %}
                    <tr>
                        <td> {{ hours.hourID }}</td>
                        <td> {{ hours.taskID }}</td>
                        <td> {{ hours.startTime }}</td>
                        <td> {{ hours.endTime }}</td>
                        <td> {{ hours.Comment }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>

    </div>
{% endblock %}