{% extends "layout.twig" %}
{% block content %}
    <section id="timeregistreringer" class="timeregistreringer">
    </section>

    <section>
        <div class="container container_small">
        <button id="button" class="button" title="Start tid"
                onclick="window.location.href='timeregistration.php';">
            <img src="images/icon_time.png" width="30em"> Start tid
        </button>
        </div>

        <div class="container container_small">
            <button id="button" class="button" title="Pause tid"
                    onclick="window.location.href='timeregistration.php';">
                <img src="images/icon_time.png" width="30em"> Pause tid
            </button>
        </div>

        <div class="container container_small">
            <button id="button" class="button" title="Stop tid"
                    onclick="window.location.href='timeregistration.php';">
                <img src="images/icon_time.png" width="30em"> Stop tid
            </button>
        </div>

        <table>
            <tr>
                <td colspan="2">
                    <label> Status: </label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" id="waiting" name="status" value="0" required>
                </td>
                <td>
                    <label for="waiting">Selvstudier </label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" id="active" name="status" value="1" required>
                </td>
                <td>
                    <label for="active">Kurs </label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="status" id="paused" value="2" required>
                </td>
                <td>
                    <label for="paused">Møte </label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="status" id="paused" value="3" required>
                </td>
                <td>
                    <label for="paused">Prosjekt arbeid </label>
                </td>
            </tr>
        </table>
        </div>

        <div class="openContainerNoBorder text" id="timeTabell">
            <h4>Alle mine timeregistreringer</h4>
            <table class="table" id="table">
                <tr>
                    <th>ID</th>
                    <th>Task</th>
                    <th>Starttid</th>
                    <th>Slutttid</th>
                    <th>Kommentar</th>
                </tr>
                {% for hours in Hour %}
                    <tr>
                        <td> {{ hours.hourID }}</td>
                        <td> {{ hours.taskID }}</td>
                        <td> {{ hours.startTime }}</td>
                        <td> {{ hours.endTime }}</td>
                        <td> {{ hours.Comment }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>

    </div>
{% endblock %}