{% extends "layout.twig" %}
{% block content %}

    <section id="brukerprofiler" class="brukerprofiler">
        <div class="container container_small">
            <button id="button" class="button" title="Ny bruker">
                <img src="images/icon_legg_til_bruker.svg" width="30em"> Legg til ny bruker
            </button>
        </div>
        <div class="container container_small">
            <button id="button" class="button" title="Slett bruker">
                <img src="images/icon_slett_bruker.svg" width="30em"> Slett bruker
            </button>
        </div>
        <div class="container container_small">
            <button id="button" class="button" title="Verifiser bruker">
                <img src="images/icon_bruker_sjekk.svg" width="30em"> Verifiser bruker
            </button>
        </div>
        <div class="container container_small">
            <button id="button" class="button" title="Endre bruker">
                <img src="images/icon_endre_bruker.svg" width="30em"> Endre bruker
            </button>
        </div>
        <div class="container container_small">
            <button id="button" class="button" title="Oversikt">
                <img src="images/icon_people.png" width="50em"> Oversikt
            </button>
        </div>
        <section>
                <h5>Alle brukere og administratorer</h5>
            {% if session.getFlashBag.has('header') %}
                {% for header in session.getFlashBag.get('header', []) %}
                    <h3>{{ header }}</h3>
                {% endfor %}
                {% for message in session.getFlashBag.get('message', []) %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
                <div class="text">
                    <table class="table" id="table">
                        <tr>
                            <th>Etternavn</th>
                            <th>Fornavn</th>
                            <th>Stilling</th>

                            <! -- if admin\leder show this  -->
                            {% if user.isAdmin %}
                                <th>Status</th>
                            {% endif %}

                            <th>Rediger</th>
                        </tr>
                        {% for usr in users %}
                            <tr>
                                <td>{{ usr.getLastName}}</td>
                                <td>{{ usr.getFirstName}}</td>

                                {% if usr.isAdmin %}
                                    <td>Administrator</td>
                                {% elseif usr.isProjectLeader %}
                                    <td>Prosjektleder</td>
                                {% elseif usr.isGroupLeader %}
                                    <td>Teamleder</td>
                                {% elseif users.isTemporary %}
                                    <td>Innleid</td>
                                {% elseif usr.isCustomer %}
                                    <td>Kunde</td>
                                {% endif %}

                                <! -- if admin\leder show this  -->
                                {% if user.isAdmin %}
                                    <td>{{ usr.getStatus }}</td>
                                {% endif %}

                                <!-- if user is admin or user is username, edit -->
                                <td><button>Rediger</button></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
        </section>


    </section>
{% endblock %}