{% extends "layout.twig" %}
{% block content %}

    <section id="brukerprofiler" class="brukerprofiler">
        {% if user.isAdmin or user.isProjectLeader %}
            <div class="container container_small">
                <button id="button" class="button" title="Ny bruker"
                        onclick="window.location.href='user_register.php';">
                    <img src="images/icon_legg_til_bruker.svg" width="30em"> Legg til ny bruker
                </button>
            </div>
            {% if user.isADmin %}
                <div class="container container_small">
                    <button id="button" class="button" title="Verifiser bruker"
                            onclick="window.location.href='userprofiles.php?verify=1';">
                        <img src="images/icon_bruker_sjekk.svg" width="30em"> Verifiser bruker
                    </button>
                </div>
            {% endif %}
        {% endif %}
    </section>
    <section>
        <h5>Alle brukere og administratorer</h5>

        <div class="openContainerNoBorder text">
            <table class="table" id="table">
                <tr>
                    <th>Etternavn</th>
                    <th>Fornavn</th>
                    <th>Stilling</th>

                    <!-- if admin\leder show this  -->
                    {% if user.isAdmin or user.isProjectLeader or user.isGroupLeader %}
                        <th>Status</th>
                    {% endif %}
                    {% if user.isAdmin %}
                        <th>Godkjent av admin</th>
                    {% endif %}
                    {% if user.isAdmin %}
                        <th>Se detaljer og rediger</th>
                    {% endif %}
                </tr>
                {% for usr in users %}
                    <tr>
                        <td>{{ usr.getLastName }}</td>
                        <td>{{ usr.getFirstName }}</td>

                        {% if usr.isAdmin %}
                            <td>Administrator</td>
                        {% elseif usr.isProjectLeader %}
                            <td>Prosjektleder</td>
                        {% elseif usr.isGroupLeader %}
                            <td>Teamleder</td>
                        {% elseif usr.isCustomer %}
                            <td>Kunde</td>
                        {% elseif usr.isTemporary %}
                            <td>Innleid</td>
                        {% elseif usr.isEmployee %}
                            <td>Utvikler</td>
                        {% else %}
                            <td>Ingen stilling</td>
                        {% endif %}

                        <!-- if admin\leder show this  -->
                        {% if user.isAdmin or user.isProjectLeader or user.isGroupLeader() %}
                            <td>{{ usr.getStatus }}</td>
                        {% endif %}

                        {% if user.isAdmin %}
                            <!-- Bruker godkjent av admin-->
                            {% if usr.isVerifiedByAdmin %}
                                <td>Verifisert</td>
                            {% else %}
                                <td>Ikke Verifisert</td>
                            {% endif %}
                        {% endif %}
                        <!-- if user is admin  -->
                        {% if user.isAdmin %}
                            <td>
                                <button class="buttons miniButtons" id="editProject"
                                        onclick="window.location.href='user_edit.php?userid={{ usr.getUserID() }}';">
                                    <img src="" alt=""> Rediger
                                </button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    <div class="container container_big_long text">
        {% if session.getFlashBag.has('header') %}
            {% for header in session.getFlashBag.get('header', []) %}
                <h3>{{ header }}</h3>
            {% endfor %}
            {% for message in session.getFlashBag.get('message', []) %}
                <p>{{ message }}</p>
            {% endfor %}
            {# session->getFlashBag->clear(); //sletter flashbagmeldinger #}
        {% endif %}
    </div>
{% endblock %}