{% extends "layout.twig" %}
{% block content %}

    <section id="brukerprofiler" class="brukerprofiler">
        {% if user.isAdmin or user.isProjectLeader %}
            <div class="container container_small">
                <button id="button" class="button" title="Ny bruker"
                        onclick="window.location.href='user_register.php';">
                    <img src="images/icon_legg_til_bruker.svg" width="30em"> Legg til ny bruker
                </button>
            </div>
            {% if user.isAdmin %}
            <div class="container container_small">
                <button id="button" class="button" title="Gå Tilbake"
                onclick="window.location.href='userprofiles.php';">
                    Gå tilbake
                </button>
            </div>
                {% endif %}
        {% endif %}
        {% if session.getFlashBag.has('header') %}
            <div class="container container_big_long text">
                {% for header in session.getFlashBag.get('header', []) %}
                    <h6>{{ header }}</h6>
                {% endfor %}
                {% for message in session.getFlashBag.get('message', []) %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <section>
            <h5>Uveriviserte brukere</h5>
            {% if session.getFlashBag.has('header') %}
                {% for header in session.getFlashBag.get('header', []) %}
                    <h3>{{ header }}</h3>
                {% endfor %}
                {% for message in session.getFlashBag.get('message', []) %}
                    <p>{{ message }}</p>
                {% endfor %}
                {# session->getFlashBag->clear(); //sletter flashbagmeldinger #}
            {% endif %}
            <div class="text">
                <table class="table" id="table">
                    <tr>
                        <th>Etternavn</th>
                        <th>Fornavn</th>
                        <th>Epost</th>

                        <th>Verifiser</th>

                            <th>Se detaljer og rediger</th>
                    </tr>
                    {% for usr in users %}
                        <tr>
                            <td>{{ usr.getLastName }}</td>
                            <td>{{ usr.getFirstName }}</td>
                            <td>{{ usr.getEmailAddress }}</td>
                            <!-- if user is admin  -->
                                <td>
                                    <button class="buttons miniButtons" id="miniButtons"
                                            onclick="window.location.href='user_edit.php?userid={{ usr.getUserID() }}';">
                                        <img src="" alt=""> Rediger
                                    </button>
                                </td>
                                <td>
                                    <form method="post" action="user_verify.php?userid={{ usr.getUserID }}">
                                        <input type="hidden" value="{{ getMac("Verify user") }}" name="XSRFPreventionToken">
                                        <button type="submit" name="user_verify" class="buttons miniButtons" id="miniButtons">
                                        Verifiser
                                    </button>
                                    </form>
                                </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    </section>
{% endblock %}